Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

We don't care about TappedOut anymore
  rotation_script/rotation_script.py
Due: none

We're using pngs in the Banner, so add them to the gitignore
  .gitignore
Due: none

Nicer S22 banner, and tooling to show what's still autogenerated
  decksite/main.py
  decksite/templates/banners.mustache
  decksite/views/__init__.py
  decksite/views/banners.py
  magic/image_fetcher.py
  shared_web/static/images/banners/22.png
Due: decksite, magic, shared, shared_web

Linting
  decksite/main.py
  decksite/views/banners.py
Due: decksite

Improve !hype command
  discordbot/bot.py
  discordbot/commands/hype.py
Due: discordbot

Fix typo
  discordbot/bot.py
Due: discordbot

Strip Banned cards earlier in the process
  rotation_script/rotation_script.py
Due: none

Automatically archive .txt files after a week
  .vscode/launch.json
  discordbot/commands/poll.py
  rotation_script/rotation_script.py
Due: discordbot

Slightly tweak the way legal cards list is pulled
  magic/multiverse.py
  maintenance/post_rotation.py
Due: magic

Accidentally commited a file that shouldn't exist
  discordbot/commands/poll.py
Due: discordbot

Fix error where past seasons were double-listed in legal formats
  decksite/prepare.py
  discordbot/commands/buglink.py
Due: decksite, discordbot

Seasonize most of the links on the metagame menu
  decksite/__init__.py
Due: decksite

Better Modo-bugs management
  .vscode/extensions.json
  .vscode/launch.json
  modo_bugs/update.py
  modo_bugs/verification.py
Due: none

Typechecking
  decksite/cache.py
  decksite/controllers/api.py
  decksite/data/form.py
  decksite/database.py
  decksite/scrapers/scraper_test.py
  decksite/scrapers/tappedout.py
  decksite/translation.py
  dev.py
  logsite/data/match.py
  logsite/data/tournament.py
  logsite/db.py
  magic/decklist.py
  magic/tournaments.py
  modo_bugs/verification.py
  price_grabber/price_grabber.py
  run.py
  shared/fetch_tools.py
  shared/logger.py
  shared/redis_wrapper.py
  shared_web/smoke.py
Due: decksite, magic, price_grabber, shared, shared_web

Actually abort if the scryfall update fails
  magic/multiverse.py
Due: magic

Make dev.py use click
  .github/workflows/build.yml
  README.md
  bootstrap.sh
  build.py
  dev.py
  shared_web/api.py
Due: shared, shared_web

Get Coverage working again
  dev.py
Due: none

Missed a spot
  .github/workflows/build.yml
Due: none

Click passes options as a Tuple
  dev.py
Due: none

Sigh
  dev.py
Due: none

Whitelist a deck name that refers to Yore-Tiller
  decksite/deck_name.py
Due: decksite

Improve Tests framework
  .github/workflows/build.yml
  conftest.py
  dev.py
Due: none

Add field for the new Feedback forums
  .vscode/launch.json
  modo_bugs/strings.py
  modo_bugs/update.py
Due: none

Fix build.yml
  .github/workflows/build.yml
Due: none

Fix auto-sort job
  .github/workflows/isort.yml
Due: none

prevent_cards_db_updates
  discordbot/commands/update.py
  magic/multiverse.py
  shared/configuration.py
Due: discordbot, magic, shared

Current Season Name
  discordbot/emoji.py
  magic/models/card.py
Due: discordbot, magic

Fix tests
  discordbot/emoji_test.py
  discordbot/unit_test.py
Due: discordbot

Parameterize emoji_test
  discordbot/emoji_test.py
Due: discordbot

More Typed Settings
  modo_bugs/scrape_announcements.py
  price_grabber/price_grabber.py
  rotation_script/rotation_script.py
  shared/configuration.py
  shared/settings.py
Due: price_grabber, shared

All Boolean settings are typed
  decksite/charts/chart.py
  discordbot/commands/google.py
  shared/configuration.py
  shared/redis_wrapper.py
  shared/repo.py
  shared_web/flask_app.py
Due: decksite, discordbot, shared, shared_web

Update settings.py
  shared/settings.py
Due: shared

Clarify language around game-breaking bugs
  decksite/templates/bugpolicy.mustache
Due: decksite

Add the symbols in Symbola but not in main-text that folks have used in names
  shared_web/static/css/pd.css
Due: shared, shared_web

Setting to prevent people from dismissing arbitrary bot messages
  discordbot/bot.py
  discordbot/command.py
  discordbot/commands/__init__.py
  discordbot/commands/configure.py
  discordbot/commands/time.py
  discordbot/shared.py
  shared/configuration.py
  shared/settings.py
Due: discordbot, shared

Typing
  .gitignore
  discordbot/commands/configure.py
Due: discordbot

More typing
  discordbot/commands/configure.py
Due: discordbot

Add an explain for Game History
  discordbot/commands/explain.py
Due: discordbot

Allow adding a rule at the same time as creating a rule
  decksite/controllers/admin.py
  decksite/controllers/api.py
  decksite/data/rule.py
  decksite/templates/editrules.mustache
Due: decksite

Show more info on /admin/retire
  decksite/league.py
Due: decksite
