Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Get off travis, because it's really unreliable these days
  .github/workflows/build.yml
  .github/workflows/mypy.yml
Due: none

Fix the TappedOut scraper, I guess?
  decksite/scrapers/tappedout.py
  requirements.txt
  shared/fetch_tools.py
Due: decksite, shared

Remove unused code
  github_tools/__init__.py
  github_tools/webhooks.py
  requirements.txt
Due: none

Fix jslint not having npm
  .github/workflows/build.yml
Due: none

Force mysql client to use TCP
  .github/workflows/build.yml
Due: none

Update the mergify config
  .mergify.yml
Due: none

Finally switch us over to pipenv
  .github/workflows/codeql-analysis.yml
  .github/workflows/mypy.yml
  .travis.yml
  Pipfile
  Pipfile.lock
  dev.py
  github_tools/webhooks.py
  package-lock.json
  shared/fetch_tools.py
Due: shared

Update bot bootstrap process
  bootstrap.sh
Due: none

Thanks Autocomplete
  .github/workflows/build.yml
  shared/fetch_tools.py
Due: shared

Update README
  .mergify.yml
  README.md
  dev.py
Due: none

Lock click
  requirements.txt
Due: none

Revert aiohttp and requests to supported versions for now
  .github/workflows/mypy.yml
  requirements.txt
Due: none

Remove circular import: rotation -> oracle -> rotation
  .github/workflows/isort.yml
  decksite/__init__.py
  decksite/cache.py
  decksite/controllers/api.py
  decksite/data/match.py
  decksite/league.py
  decksite/prepare.py
  decksite/view.py
  decksite/view_test.py
  decksite/views/home.py
  decksite/views/person.py
  decksite/views/rotation.py
  discordbot/bot.py
  discordbot/commands/history.py
  discordbot/commands/hype.py
  discordbot/commands/rotation.py
  magic/legality.py
  magic/multiverse.py
  magic/oracle.py
  magic/rotation.py
  magic/rotation_test.py
  magic/seasons.py
  magic/tournaments.py
  maintenance/insert_seasons.py
  price_grabber/price.py
  price_grabber/price_grabber.py
  rotation_script/rotation_script.py
Due: decksite, discordbot, magic, price_grabber

lint
  decksite/league.py
  decksite/prepare.py
  decksite/view.py
  discordbot/commands/history.py
  magic/legality.py
  magic/multiverse.py
  magic/tournaments.py
  price_grabber/price.py
Due: decksite, discordbot, magic, price_grabber

Update isort.yml
  .github/workflows/isort.yml
Due: none

Sort Imports
  decksite/scrapers/tappedout.py
  decksite/views/home.py
  discordbot/commands/history.py
  discordbot/commands/hype.py
  magic/rotation.py
  magic/seasons.py
  shared/fetch_tools.py
Due: decksite, discordbot, magic, shared

Cyclic Import: woosh_write -> multiverse -> woosh_write
  Dockerfile
  discordbot/bot.py
  discordbot/commands/update.py
  magic/multiverse.py
  magic/oracle.py
  magic/whoosh_search_test.py
  magic/whoosh_write.py
  maintenance/populate_woosh_index.py
Due: discordbot, magic

Fix woosh tests
  Dockerfile
  dev.py
  docker-compose.yml
Due: none

Set up sentry logging
  .travis.yml
  Pipfile
  Pipfile.lock
  shared/configuration.py
  shared_web/flask_app.py
Due: shared, shared_web

Sort imports
  .pylintrc
  shared_web/flask_app.py
Due: shared, shared_web

Revert "Sort imports"
  .pylintrc
  shared_web/flask_app.py
Due: shared, shared_web

Revert "Set up sentry logging"
  .travis.yml
  Pipfile
  Pipfile.lock
  shared/configuration.py
  shared_web/flask_app.py
Due: shared, shared_web

Don't try and load something we don't have
  shared_web/flask_app.py
Due: shared, shared_web

Revert "Revert sentry logging to get site running"
  .pylintrc
  .travis.yml
  Pipfile
  Pipfile.lock
  shared/configuration.py
  shared_web/flask_app.py
Due: shared, shared_web

Don't 500 if someone requests /seasons/<current>/people/id/<id>
  decksite/__init__.py
Due: decksite

Lint
  decksite/__init__.py
Due: decksite

Refactor url checking into existing before_request func and clean up
  decksite/__init__.py
  decksite/main.py
Due: decksite

Remove errant print statement
  decksite/main.py
Due: decksite

Make !tournament work even if the next/last pdsat was the pd 500
  magic/tournaments.py
Due: magic

id is a builtin in python
  magic/tournaments.py
Due: magic

Missed a spot
  magic/tournaments.py
Due: magic
