Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

More linting
  discordbot/bot.py
  discordbot/commands/echo.py
  discordbot/commands/flavor.py
  discordbot/commands/quality.py
  discordbot/commands/restartbot.py
  discordbot/commands/spoiler.py
  discordbot/commands/update.py
  discordbot/commands/whois.py
Due: discordbot

added the timestamps, turned the endpoint into a Resource, added season num
  decksite/controllers/api.py
  decksite/data/deck.py
Due: decksite

linting
  decksite/controllers/api.py
Due: decksite

more improvements probably
  decksite/controllers/api.py
  decksite/data/deck.py
  decksite/data/query.py
Due: decksite

Correct time for kick off
  magic/tournaments.py
Due: magic

Add next set code to seasons
  magic/seasons.py
Due: magic

Sort Imports
  discordbot/command.py
  discordbot/commands/__init__.py
  discordbot/commands/art.py
  discordbot/commands/barbs.py
  discordbot/commands/bug.py
  discordbot/commands/buginfo.py
  discordbot/commands/burningofxinye.py
  discordbot/commands/clearimagecache.py
  discordbot/commands/configure.py
  discordbot/commands/debug.py
  discordbot/commands/downtimes.py
  discordbot/commands/echo.py
  discordbot/commands/explain.py
  discordbot/commands/flavor.py
  discordbot/commands/google.py
  discordbot/commands/history.py
  discordbot/commands/legal.py
  discordbot/commands/mana.py
  discordbot/commands/oracle.py
  discordbot/commands/price.py
  discordbot/commands/quality.py
  discordbot/commands/restartbot.py
  discordbot/commands/spoiler.py
  discordbot/commands/swiss.py
  discordbot/commands/tournament.py
  discordbot/commands/update.py
  discordbot/commands/version.py
  discordbot/commands/whois.py
  discordbot/emoji.py
  discordbot/functional_test.py
  discordbot/shared.py
  maintenance/generate_translations.py
  shared_web/template.py
Due: discordbot, shared, shared_web

Testing
  .github/workflows/build.yml
  Pipfile
  pytest.ini
Due: none

Tests?
  .github/workflows/build.yml
  discordbot/commands/debug.py
  discordbot/commands/rulings.py
  discordbot/functional_test.py
  logsite/importing.py
Due: discordbot

We need to prepare the context correctly
  discordbot/functional_test.py
Due: discordbot

Fix more tests
  discordbot/commands/p1p1.py
  discordbot/commands/price.py
  discordbot/commands/rulings.py
  discordbot/commands/whois.py
  discordbot/functional_test.py
Due: discordbot

Fix the rest, I think
  discordbot/commands/bug.py
  discordbot/commands/drc.py
  discordbot/commands/echo.py
  discordbot/commands/flavor.py
  discordbot/commands/history.py
  discordbot/commands/legal.py
  discordbot/commands/oracle.py
  discordbot/commands/time.py
  discordbot/functional_test.py
Due: discordbot

oops
  discordbot/commands/flavor.py
  discordbot/commands/history.py
  discordbot/commands/oracle.py
  discordbot/commands/rulings.py
Due: discordbot

Until uninitialized, Snek.guilds is None
  discordbot/commands/legal.py
  discordbot/emoji.py
  discordbot/functional_test.py
Due: discordbot

Ensure we actually run it with Python 3.9
  bootstrap.sh
Due: none

Sort Imports
  discordbot/commands/drc.py
  discordbot/commands/time.py
  discordbot/functional_test.py
  logsite/importing.py
  maintenance/generate_translations.py
  shared_web/template.py
Due: discordbot, shared, shared_web

Fix Dreadrise command
  discordbot/bot.py
  discordbot/commands/drc.py
Due: discordbot

Bot Bugfixes
  Pipfile
  discordbot/commands/bug.py
  discordbot/commands/drc.py
  discordbot/commands/time.py
Due: discordbot

Linting
  discordbot/commands/drc.py
  discordbot/commands/time.py
Due: discordbot

Fix tests
  discordbot/functional_test.py
Due: discordbot

Good lord, what is happening in there?
  discordbot/commands/price.py
Due: discordbot

More bugfixing
  discordbot/command.py
  discordbot/commands/search.py
  discordbot/commands/swiss.py
  discordbot/shared.py
Due: discordbot

Oops
  discordbot/commands/search.py
Due: discordbot

Hacks upon hacks upon hacks
  discordbot/shared.py
Due: discordbot

Fix Rhinos (and probably other things)
  discordbot/command.py
Due: discordbot

ci(Mergify): configuration update
  .mergify.yml
Due: none

Make !reboot actually reboot
  discordbot/commands/restartbot.py
Due: discordbot

Sort Imports
  discordbot/command.py
Due: discordbot

A bunch more message_command aliases
  discordbot/bot.py
  discordbot/command.py
  discordbot/commands/art.py
  discordbot/commands/clearimagecache.py
  discordbot/commands/flavor.py
  discordbot/commands/google.py
  discordbot/commands/history.py
  discordbot/commands/hype.py
  discordbot/commands/legal.py
  discordbot/commands/oracle.py
  discordbot/commands/price.py
  discordbot/commands/restartbot.py
  discordbot/commands/tournament.py
Due: discordbot

Fix false-positive "slow launches" when we reconnect to the gateway
  discordbot/bot.py
Due: discordbot

Linting
  discordbot/commands/google.py
  discordbot/commands/price.py
Due: discordbot

More linting
  discordbot/command.py
  discordbot/commands/art.py
  discordbot/commands/flavor.py
  discordbot/commands/google.py
  discordbot/commands/price.py
Due: discordbot

Fix /bug
  discordbot/commands/bug.py
Due: discordbot

Actually include the additional text in /bug
  discordbot/commands/bug.py
Due: discordbot

Sort Imports
  discordbot/command.py
  discordbot/commands/bug.py
  discordbot/commands/clearimagecache.py
  discordbot/commands/google.py
  discordbot/commands/oracle.py
  discordbot/commands/price.py
Due: discordbot

Dis_snek 3.0 is live, so I don't need to pin to master anymore
  Pipfile
  Pipfile.lock
Due: none

Discord has an upper limit of how many options we can send with autocomplete
  discordbot/command.py
Due: discordbot

Get Emoji working again
  discordbot/command.py
  discordbot/commands/echo.py
  discordbot/commands/spoiler.py
  discordbot/emoji.py
Due: discordbot

Typing
  discordbot/command.py
Due: discordbot

Fix Slash commands?
  Pipfile
  Pipfile.lock
  discordbot/bot.py
Due: discordbot

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
