Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Add spectating rules to /tournaments/.
  decksite/templates/tournaments.mustache
Due: decksite

Sort by record properly in cards tables.
  decksite/data/query.py
Due: decksite

stashing some changes
  decksite/sql/59.sql
  logsite/analyze_games.py
Due: decksite

Temporarily retire charts because production has filesystem issues
  decksite/templates/deck.mustache
  decksite/templates/person.mustache
Due: decksite

Page for the Season Kick Off.
  decksite/controllers/competitions.py
  decksite/templates/home.mustache
  decksite/templates/kickoff.mustache
  decksite/templates/newtopd.mustache
  decksite/views/__init__.py
  decksite/views/home.py
  decksite/views/kickoff.py
  decksite/views/pd500.py
  magic/tournaments.py
Due: decksite, magic

Update PD 500 sign up link now it is over.
  decksite/templates/pd500.mustache
Due: decksite

Lint our react code more thorougly with an eslint plugin.
  .eslintrc.js
  package-lock.json
  package.json
Due: none

Refactor DeckTable to use the Table shared component and rename file sensibly.
  decksite/controllers/api.py
  decksite/templates/livedecktable.mustache
  decksite/webpack.config.js
  dev_test.py
  shared_web/static/js/cardtable.jsx
  shared_web/static/js/decktable.jsx
  shared_web/static/js/index.jsx
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Refactor CardTable to the more general Table.
  decksite/controllers/api.py
  decksite/templates/livecardtable.mustache
  dev_test.py
  shared_web/static/js/cardtable.jsx
  shared_web/static/js/index.jsx
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Pin aiohttp to latest version 3.6.2
  requirements.txt
Due: none

Update feedparser from 5.2.1 to 6.0.1
  requirements.txt
Due: none

Pin pip-check-reqs to latest version 2.1.1
  requirements.txt
Due: none

Update isort from 4.3.21 to 5.5.3
  requirements.txt
Due: none

Pin lxml to latest version 4.5.2
  requirements.txt
Due: none

Pin python-dotenv to latest version 0.14.0
  requirements.txt
Due: none

Update pylint from 2.5.3 to 2.6.0
  requirements.txt
Due: none

Update seaborn from 0.10.1 to 0.11.0
  requirements.txt
Due: none

Pass along props that are specific to decktable when calling API.
  shared_web/static/js/table.jsx
Due: shared, shared_web

Bump pylint and isort
  .editorconfig
  .pylintrc
  decksite/controllers/metagame.py
  decksite/data/achievements.py
  decksite/data/archetype.py
  decksite/data/query.py
  decksite/deck_name.py
  decksite/scrapers/gatherling.py
  decksite/scrapers/mtggoldfish.py
  dev.py
  magic/decklist.py
  magic/fetcher.py
  magic/rotation.py
  pylint_monolith/monolith_checker.py
  requirements.txt
  shared/container.py
  shared/database.py
  shared/fetch_tools.py
  shared/guarantee.py
Due: decksite, magic, shared

Bump Feedparser
  requirements.txt
  shared/dtutil.py
Due: shared

Bump Seaborn, re-enable charts
  decksite/charts/chart.py
  decksite/templates/deck.mustache
  decksite/templates/person.mustache
  shared/configuration.py
Due: decksite, shared

Fix (non-behavior-changing) typo in path.
  decksite/webpack.config.js
Due: decksite

Refactor load_people back into one query now that we have preaggregation.
  decksite/controllers/admin.py
  decksite/data/person.py
Due: decksite

Remove pylint rule exception because we do not violate it.
  .pylintrc
Due: none

Attach season_id to person in a way more compatible with existing code.
  decksite/data/person.py
Due: decksite

Apply season in the aggregate functions to still get a row back when no decks
  decksite/data/person.py
Due: decksite

Add /api/people/ in preparation for live person table.
  decksite/controllers/api.py
  decksite/data/person.py
  decksite/data/query.py
  decksite/prepare.py
  decksite/templates/people.mustache
  decksite/view.py
Due: decksite

persontable WIP.
  shared_web/static/js/cardtable.jsx
  shared_web/static/js/persontable.jsx
  shared_web/static/js/table.jsx
Due: shared, shared_web

Only include string-matching where clause on card search if present.
  decksite/controllers/api.py
Due: decksite

Remove poor-performing aggregate clauses in favor of a second query.
  decksite/data/person.py
Due: decksite

Replace /people/ with a live table.
  decksite/controllers/api.py
  decksite/data/person.py
  decksite/data/query.py
  decksite/prepare.py
  decksite/templates/people.mustache
  decksite/webpack.config.js
  dev_test.py
  magic/rotation.py
  shared_web/static/css/pd.css
  shared_web/static/js/cardtable.jsx
  shared_web/static/js/persontable.jsx
  shared_web/static/js/table.jsx
Due: decksite, magic, shared, shared_web

Undo rename - it's more complicated than this.
  decksite/controllers/api.py
Due: decksite

Imports.
  decksite/controllers/api.py
Due: decksite

Fix issue with var names.
  decksite/controllers/api.py
Due: decksite

Clean up sparse (no decks) player pages and add a seasons active section.
  decksite/controllers/people.py
  decksite/data/person.py
  decksite/templates/person.mustache
  decksite/views/person.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Use lowercase (oldstyle) nums for mtgo username in person table.
  shared_web/static/css/pd.css
Due: shared, shared_web

Alias for LED.
  card_aliases.tsv
Due: none

Typing.
  decksite/data/person.py
  decksite/views/person.py
Due: decksite

Refactor seasons active for clarity and to avoid too-many-locals.
  decksite/templates/person.mustache
  decksite/views/person.py
Due: decksite

Typing.
  decksite/views/person.py
Due: decksite

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
