Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Disable a test that needs to be refactored
  Pipfile
  discordbot/functional_test.py
  magic/tournaments_test.py
Due: discordbot, magic

Pipfile.lock
  Pipfile.lock
Due: none

I tried
  magic/seasons.py
  magic/tournaments_test.py
Due: magic

Revert to known good state to fix bot commands
  Pipfile
  Pipfile.lock
  decksite/resources.json
  discordbot/command.py
  discordbot/commands/whois.py
  discordbot/functional_test.py
  magic/seasons.py
  magic/tournaments_test.py
Due: decksite, discordbot, magic

Revert "Revert to known good state to fix bot commands"
  Pipfile
  Pipfile.lock
  decksite/resources.json
  discordbot/command.py
  discordbot/commands/whois.py
  discordbot/functional_test.py
  magic/seasons.py
  magic/tournaments_test.py
Due: decksite, discordbot, magic

Re-add /whois, based a good commit
  Pipfile.lock
Due: none

Bump dis-snek to PyPi 4.1.0
  .codecov.yml
  Pipfile
  Pipfile.lock
Due: none

Abort if we don't have permission to send to a channel
  discordbot/command.py
Due: discordbot

Remove dead entrypoint
  run.py
Due: none

Redact secrets when reporting issues to github
  decksite/__init__.py
  discordbot/bot.py
  logsite/__init__.py
  maintenance/dev_db.py
  shared/configuration.py
  shared/database.py
  shared/repo.py
  shared/settings.py
  shared_web/oauth.py
Due: decksite, discordbot, shared, shared_web

Redact Bot HTTP token
  discordbot/bot.py
  shared/repo.py
  shared/settings.py
Due: discordbot, shared

Automatically create Discord events for the next PD Tournament
  discordbot/bot.py
Due: discordbot

Order archetypes on the metagame page by lower wilson bound
  decksite/templates/metagame.mustache
  decksite/views/metagame.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Remove wilson lower and upper bound from title text for metagame
  decksite/templates/metagame.mustache
Due: decksite

Types for confidence interval
  decksite/views/metagame.py
Due: decksite

Delete requirements-dev.txt
  requirements-dev.txt
Due: none

Typing
  decksite/views/metagame.py
Due: decksite

Fix ambiguous card reporting
  discordbot/commands/__init__.py
Due: discordbot

Speed up people page
  decksite/controllers/people.py
  decksite/views/people.py
Due: decksite

Drop 'other' from metagame archetype page
  decksite/views/metagame.py
Due: decksite

Fix asyncio Depreciation Warning
  magic/multiverse.py
Due: magic

Update Pipfile
  Pipfile
  Pipfile.lock
Due: none

Bump snek version
  Pipfile
  Pipfile.lock
Due: none

Disable !echo test, fix !swiss
  Pipfile
  Pipfile.lock
  discordbot/functional_test.py
Due: discordbot

Fix bot login event
  discordbot/bot.py
  discordbot/commands/swiss.py
Due: discordbot

Point !modobug at the new URL
  discordbot/bot.py
  discordbot/commands/modobug.py
  discordbot/commands/swiss.py
Due: discordbot

Unused Import
  discordbot/bot.py
Due: discordbot

dreadrise modifications
  discordbot/commands/drc.py
  magic/fetcher.py
  shared/fetch_tools.py
Due: discordbot, magic, shared

updated for new dreadrise
  discordbot/command.py
  discordbot/commands/drc.py
  magic/fetcher.py
Due: discordbot, magic

some fixes
  discordbot/commands/drc.py
Due: discordbot

Sort Imports
  discordbot/commands/drc.py
Due: discordbot

ci(Mergify): configuration update
  .mergify.yml
Due: none

Typing
  mypy.ini
  run.py
  shared/logger.py
Due: shared

Accomodate hybrid phyrexian mana
  magic/mana.py
  magic/mana_test.py
Due: magic

Fix imports
  discordbot/commands/swiss.py
  discordbot/commands/version.py
Due: discordbot

More accomodations for phyrexian hybrid mana
  magic/mana.py
  magic/mana_test.py
Due: magic

Slightly more accurate error messages in mana parsing
  magic/mana.py
Due: magic

Test phyrexian hybrid mana in search
  find/find_test.py
Due: none

Avoid type issue with pyhumps upgrade by making a new func for camelized output
  decksite/controllers/api.py
  shared_web/api.py
Due: decksite, shared, shared_web

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
