Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Lint against new checks
  decksite/data/achievements.py
  decksite/data/archetype.py
  decksite/data/query.py
  discordbot/bot.py
  discordbot/functional_test.py
  github_tools/webhooks.py
  modo_bugs/repo.py
Due: decksite, discordbot

Update pylint from 2.4.4 to 2.5.0
  requirements.txt
Due: none

Spurious change to restart build.
  README.md
Due: none

Revert "Spurious change to restart build."
  README.md
Due: none

Cleanup
  dev.py
  discordbot/command.py
  discordbot/commands/explain.py
  discordbot/commands/gatherlingbug.py
  discordbot/commands/google.py
  discordbot/commands/modofail.py
  magic/fetcher.py
  shared/fetch_tools.py
  shared_web/logger.py
Due: discordbot, magic, shared, shared_web

lint errors
  discordbot/command.py
  shared/fetch_tools.py
Due: discordbot, shared

Typing
  decksite/data/archetype.py
  discordbot/functional_test.py
  shared/fetch_tools.py
  shared_web/logger.py
Due: decksite, discordbot, shared, shared_web

Sort imports
  shared_web/logger.py
Due: shared, shared_web

More linting, because #7161 was merged while failing
  rotation_script/rotation_script.py
  shared/dtutil.py
  shared/fetch_tools.py
Due: shared

Update pytz from 2019.3 to 2020.1
  requirements.txt
Due: none

Update redis from 3.4.1 to 3.5.0
  requirements.txt
Due: none

Update sqlalchemy-utils from 0.36.3 to 0.36.4
  requirements.txt
Due: none

Lint with pylint 2.5.0.
  discordbot/functional_test.py
Due: discordbot

Typechecking.
  magic/rotation.py
Due: magic

Add season_id to competition (requested by mtggoldfish).
  decksite/data/competition.py
Due: decksite

Remove spurious lint change because I had the wrong version of pylint.
  discordbot/functional_test.py
Due: discordbot

Spurious change to nudge travis.
  README.md
Due: none

Log when we create _applied_rules to see if it lines up with deadlocks.
  decksite/data/rule.py
Due: decksite

Correct invalid label in rollback.
  decksite/data/deck.py
Due: decksite

Update tournament hosts
  magic/tournaments.py
Due: magic

Add FNM to the list of tournaments temporarily.
  decksite/scrapers/gatherling.py
  decksite/sql/58.sql
  magic/tournaments.py
Due: decksite, magic

Update pygithub from 1.50 to 1.51
  requirements.txt
Due: none

Support Scryfall deckbuilder format.
  magic/decklist.py
  magic/decklist_test.py
Due: magic

Update client dependencies.
  shared_web/templates/jsdependencies.mustache
Due: shared, shared_web

Update sqlalchemy-utils from 0.36.4 to 0.36.5
  requirements.txt
Due: none

Update pytest-asyncio from 0.11.0 to 0.12.0
  requirements.txt
Due: none

Mergify: configuration update
  .mergify.yml
Due: none

frustrated noises
  discordbot/bot.py
  github_tools/webhooks.py
Due: discordbot

If automerge doesn't verify that travis has run, make sure travis runs normally.
  .mergify.yml
Due: none

Typing
  decksite/data/news.py
  dev.py
  github_tools/webhooks.py
  modo_bugs/repo.py
  modo_bugs/scrape_bugblog.py
  modo_bugs/update.py
  shared/redis.py
  shared/repo.py
Due: decksite, shared

Disable rule calculations for now.
  maintenance/reprime_cache.py
Due: none

Don't pass test arguments while running dev release
  dev.py
Due: none

Sort Imports
  github_tools/webhooks.py
  setup.py
Due: none

Update pylint from 2.5.0 to 2.5.1
  requirements.txt
Due: none

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
