Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

docstrings
  magic/decklist.py
  magic/fetcher.py
  magic/mana.py
Due: magic

Slow progress is progress
  decksite/controllers/api.py
Due: decksite

Fix Typo
  decksite/views/rotation.py
Due: decksite

Better error handling
  decksite/controllers/api.py
Due: decksite

Typing
  decksite/controllers/api.py
Due: decksite

Support isort5.
  .pylintrc
  pylint_monolith/monolith_checker.py
Due: none

Update coverage from 5.1 to 5.2
  requirements.txt
Due: none

Update isort from 4.3.21 to 5.0.4
  requirements.txt
Due: none

Use card names instead of ids for rotation caching as ids are not stable.
  discordbot/emoji.py
  magic/rotation.py
Due: discordbot, magic

Move rotation tracking back to resources menu now it is accessible again.
  decksite/__init__.py
  decksite/controllers/admin.py
Due: decksite

/api/league now sends an RFC3339 date not a unix timestamp
  discordbot/bot.py
Due: discordbot

Remove background_task_spoiler_season
  discordbot/bot.py
  magic/card.py
  magic/fetcher.py
  magic/multiverse.py
  magic/multiverse_test.py
Due: discordbot, magic

Remove now-unused imports.
  discordbot/bot.py
  magic/multiverse_test.py
Due: discordbot, magic

Unused Imports
  decksite/controllers/admin.py
Due: decksite

Migrate Command Line Options as per https://timothycrosley.github.io/isort/docs/upgrade_guides/5.0.0/
  .editorconfig
  dev.py
Due: none

Always show both legality symbols during rotation.
  discordbot/emoji.py
Due: discordbot

Don't import cards that are not game pieces. Fixes #7501
  magic/multiverse.py
Due: magic

Set correct season start time in insert_seasons.
  maintenance/insert_seasons.py
Due: none

Update isort from 4.3.21 to 5.0.9
  requirements.txt
Due: none

Add .yourbase.yml
  .yourbase.yml
Due: none

Update .yourbase.yml
  .yourbase.yml
Due: none

Update isort from 4.3.21 to 5.1.4
  requirements.txt
Due: none

Update matplotlib from 3.2.2 to 3.3.0
  requirements.txt
Due: none

Zendikar Rising
  magic/rotation.py
  shared_web/flask_app.py
Due: magic, shared, shared_web

Use docker-compose for a simple dev-env.
  .dockerignore
  .env.example
  .gitignore
  .yourbase.yml
  Dockerfile
  Jenkinsfile
  decksite/controllers/admin.py
  decksite/controllers/api.py
  decksite/data/deck.py
  decksite/data/match.py
  decksite/data/news.py
  decksite/league.py
  dev.py
  discordbot/bot.py
  discordbot/commands/modofail.py
  discordbot/commands/p1p1.py
  discordbot/commands/rotate.py
  discordbot/emoji.py
  discordsite/__init__.py
  docker-compose.yml
  docker_dev/mysql/00-init.sql
  docker_dev/mysql/00-user.sh
  docker_dev/mysql/01-setup.sql
  docker_dev/mysql/Dockerfile
  docker_dev/mysql/dev-db.sh
  github_tools/webhooks.py
  logsite/views/people.py
  magic/fetcher.py
  magic/rotation.py
  maintenance/deck_hash.py
  maintenance/post_rotation.py
  maintenance/reprime_cache.py
  modo_bugs/repo.py
  requirements.txt
  rotation_script/rotation_script.py
  run.py
  shared/configuration.py
  shared/database.py
  shared/pd_exception.py
  shared/redis_wrapper.py
Due: decksite, discordbot, magic, shared

Support more decklist formats.
  magic/decklist.py
  magic/decklist_test.py
Due: magic

Lint
  dev.py
  run.py
Due: none
