Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Remove "PD S16" from deck names as well as "PD16" and "PD 16"
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Change the name of TestContext to avoid Warning.
  decksite/scrapers/test_manual_tappedout.yaml
  decksite/scrapers/test_tappedout.yaml
  discordbot/functional_test.py
Due: decksite, discordbot

Update pytest-cov from 2.8.1 to 2.9.0
  requirements.txt
Due: none

Detect OS X error condition when gh not found.
  dev.py
Due: none

Black-Red -> Rakdos in deck names.
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Whitelist B Day deck name
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Update sqlalchemy-utils from 0.36.5 to 0.36.6
  requirements.txt
Due: none

Scryfall bulk-data is timestamped. Fix #7369
  magic/fetcher.py
Due: magic

Update flask-sqlalchemy from 2.4.1 to 2.4.2
  requirements.txt
Due: none

Update to latest node version on travis
  .travis.yml
Due: none

nvm12
  .travis.yml
Due: none

Midnight Scavengers
  magic/whoosh_search_test.py
Due: magic

Apparently travis ignores node_js. Manually install instead
  .travis.yml
Due: none

first spike to analyze games into structured data
  logsite/analyze_games.py
Due: none

Don't attempt to process game logs if there are none to process
  analysis/analysis.py
Due: none

Cope with colors on the end of a deck name instead of the front
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Less unnecessary updates. Fixes #7377
  maintenance/guess_league_archetypes.py
Due: none

run check-reqs
  dev.py
  requirements.txt
Due: none

Quotes
  dev.py
Due: none

lint
  dev.py
Due: none

Ugh
  dev.py
Due: none

These were never used
  dev.py
Due: none

logsite person api
  logsite/api.py
  logsite/data/match.py
Due: none

Typing
  discordbot/commands/spoiler.py
  discordbot/commands/version.py
  logsite/data/match.py
Due: discordbot

Typing
  logsite/data/match.py
  logsite/stats.py
  logsite/views/charts.py
Due: none

Truly differentiate person_id from mtgo_username in URLs.
  decksite/controllers/competitions.py
  decksite/controllers/metagame.py
  decksite/data/person.py
  decksite/prepare.py
  decksite/view.py
  decksite/views/person.py
Due: decksite

Fix hangover reference to person_id which should be mtgo_username
  decksite/views/deck.py
Due: decksite

Fix incorrect indentation in Readme.md
  README.md
Due: none

Add "retarded" to bad words.
  decksite/deck_name.py
Due: decksite

Typing
  decksite/controllers/league.py
  decksite/database.py
  discordbot/command.py
  logsite/__init__.py
  logsite/views/matches.py
  run.py
Due: decksite, discordbot

We don't need to isort pre-emptively
  .travis.yml
Due: none

Something a bit like progress
  decksite/controllers/api.py
  requirements.txt
  shared_web/flask_app.py
Due: decksite, shared, shared_web

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
