Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Pin pip-check-reqs to latest version 2.1.1
  requirements.txt
Due: none

Update isort from 4.3.21 to 5.4.2
  requirements.txt
Due: none

Pin lxml to latest version 4.5.2
  requirements.txt
Due: none

Pin python-dotenv to latest version 0.14.0
  requirements.txt
Due: none

Update pylint from 2.5.3 to 2.6.0
  requirements.txt
Due: none

Revert "Delete test file"
  akira_play.py
Due: none

Revert "Revert "Delete test file""
  akira_play.py
Due: none

Revert "Revert "Revert "Delete test file"""
  akira_play.py
Due: none

More bad imports
  magic/models/__init__.py
  magic/models/card.py
  magic/models/printing.py
Due: magic

Create more tests for normalize colors
  decksite/deck_name_test.py
Due: decksite

Fix core issues, needs cleaning
  decksite/deck_name.py
Due: decksite

Revert "Revert "Revert "Revert "Delete test file""""
  akira_play.py
Due: none

Remove print statement and cleanup
  decksite/deck_name.py
Due: decksite

Add 'uwu' to white list and add test
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Add all duplications to whitelist and remove 'BBB' test
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Fix Travis Issues
  decksite/deck_name.py
Due: decksite

House style for periods in lists.
  decksite/controllers/competitions.py
  decksite/templates/rotationchecklist.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

The Penny Dreadful 500!
  decksite/templates/tournaments.mustache
  decksite/views/__init__.py
  decksite/views/tournaments.py
  magic/tournaments.py
Due: decksite, magic

Change .gitignore so it works with Sublime Text's gitignore plugin.
  .gitignore
Due: none

Exclude things like 'BRRRR' from sanitizing to 'Rakdos'
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

The Penny Dreadful 500 - view and template.
  decksite/templates/pd500.mustache
  decksite/views/pd500.py
Due: decksite

Fix imports.
  decksite/controllers/competitions.py
  decksite/views/pd500.py
Due: decksite

Fix PD 500 prizes.
  decksite/templates/pd500.mustache
Due: decksite

Typing and simplification of chained operands per pylint.
  magic/tournaments.py
Due: magic

More PD 500 info.
  decksite/controllers/competitions.py
  decksite/data/competition.py
  decksite/templates/home.mustache
  decksite/templates/pd500.mustache
  decksite/views/home.py
  decksite/views/pd500.py
  magic/tournaments.py
  shared/dtutil.py
Due: decksite, magic, shared

Types.
  decksite/data/competition.py
  decksite/views/pd500.py
Due: decksite

Remove unused import.
  decksite/views/pd500.py
Due: decksite

Pin aiohttp to latest version 3.6.2
  requirements.txt
Due: none

Coco card alias
  card_aliases.tsv
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update PD 500 page with new byes info.
  decksite/controllers/competitions.py
  decksite/templates/pd500.mustache
  decksite/views/pd500.py
Due: decksite

Lint.
  decksite/views/pd500.py
Due: decksite

Edit resources for clarity, fix a link.
  decksite/resources.json
Due: decksite

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
