Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Remove explain verify
  discordbot/commands/explain.py
Due: discordbot

Only show extra deck details on /admin/retire
  decksite/league.py
Due: decksite

Add some whitelist deck names, remove an irrelevant one
  decksite/deck_name.py
Due: decksite

explain nextround
  discordbot/commands/explain.py
Due: discordbot

Fix showing too much info on /report
  decksite/league.py
Due: decksite

Make logsite titles work more like decksite
  logsite/templates/about.mustache
  logsite/templates/charts.mustache
  logsite/templates/header.mustache
  logsite/templates/home.mustache
  logsite/templates/matches.mustache
  logsite/templates/people.mustache
  logsite/view.py
  logsite/views/about.py
  logsite/views/charts.py
  logsite/views/home.py
  logsite/views/internal_server_error.py
  logsite/views/match_view.py
  logsite/views/matches.py
  logsite/views/not_found.py
  logsite/views/people.py
Due: none

Use the right name for whoosh
  maintenance/populate_whoosh_index.py
Due: none

Add missing return type annotation
  logsite/views/match_view.py
Due: none

Add deck name to whitelist
  decksite/deck_name.py
Due: decksite

Whitelist a deck name
  decksite/deck_name.py
Due: decksite

/admin/ban page for administering bans
  decksite/controllers/admin.py
  decksite/data/person.py
  decksite/templates/ban.mustache
  decksite/views/__init__.py
  decksite/views/ban.py
Due: decksite

Fix some js security vulnerabilities
  package-lock.json
Due: none

Fix import sorting
  decksite/controllers/admin.py
Due: decksite

Fix dev.py safe_push
  dev.py
Due: none

Fix jsfix
  dev.py
Due: none

Fix dev.py check
  dev.py
Due: none

Remove dev.py check-requirements
  dev.py
Due: none

Don't show such a huge metagame page early season
  decksite/views/metagame.py
Due: decksite

Whitelist 'ub or not ub? that is the question'
  decksite/deck_name.py
Due: decksite

Remove tapped out scraper and related tests
  decksite/scrapers/scraper_test.py
  decksite/scrapers/tappedout.py
  decksite/scrapers/test_manual_tappedout.yaml
  decksite/scrapers/test_tappedout.yaml
  pytest.ini
Due: decksite

Fix dev.py sort
  dev.py
Due: none

Add 'full-check' target in dev.py that does 'check' + 'sort'
  dev.py
Due: none

Don't sys.exit on success in runtests
  dev.py
Due: none

Add a deck alias
  decksite/deck_name.py
Due: decksite

Use discord's shiny new timestamp notation
  discordbot/commands/tournament.py
  magic/tournaments.py
Due: discordbot, magic

Add a lockfile to rotation
  Pipfile
  Pipfile.lock
  dev.py
  discordbot/bot.py
  logsite_migrations/env.py
  mypy.ini
  rotation_script/rotation_script.py
  shared/decorators.py
Due: discordbot, shared

Warn you on the sign up page if you are already signed up
  decksite/controllers/league.py
  decksite/templates/signup.mustache
  decksite/views/signup.py
Due: decksite

Fix randomdeck command
  decksite/controllers/api.py
  discordbot/commands/randomdeck.py
Due: decksite, discordbot

Don't show active league run warning when 5 matches complete
  decksite/views/signup.py
Due: decksite

Remove spurious print statement
  decksite/controllers/league.py
Due: decksite

Remove windows-isms from Pipfile.lock
  Pipfile.lock
Due: none

Add description at same time as archetype
  decksite/controllers/admin.py
  decksite/data/archetype.py
  decksite/templates/editarchetypes.mustache
Due: decksite

Prefer 'hub' over 'pr' because it's simpler
  dev.py
Due: none

Types
  decksite/controllers/admin.py
Due: decksite

Use fill_form for post_player_note not direct access
  decksite/controllers/admin.py
Due: decksite

Show archetype in deck table when archetype is a parent node
  decksite/views/archetype.py
Due: decksite

Switch eslint parser to undeprecated one
  .eslintrc.js
  package-lock.json
  package.json
Due: none

Use new cache flag
  .github/workflows/build.yml
  .github/workflows/isort.yml
Due: none

More linters
  .flake8
  Pipfile
  Pipfile.lock
Due: none

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
