Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Don't show top cards when no cards have been played yet
  decksite/templates/home.mustache
  decksite/views/home.py
Due: decksite

Remove unused import
  decksite/data/query.py
Due: decksite

Banish wrongquotes
  decksite/data/query_test.py
Due: decksite

Avoid our season id redirect intefering with Flask automatic redirects
  decksite/main.py
Due: decksite

Card mouseover images on /cards/ and /people/<id>/
  shared_web/base_view.py
  shared_web/static/js/cardtable.jsx
  shared_web/static/js/table.jsx
  shared_web/static/js/tooltips.js
Due: shared, shared_web

Only attempt to reload card tooltips if sane to do so
  shared_web/static/js/table.jsx
Due: shared, shared_web

Don't create an empty where clause, SQL doesn't like that
  decksite/data/query.py
Due: decksite

Actually fix #8337, and do so in a way that doesn't require null checks.
  decksite/view.py
  decksite/views/home.py
  decksite/views/pd500.py
  magic/tournaments.py
Due: decksite, magic

Let js linter know about our Deckbox global
  shared_web/static/js/table.jsx
Due: shared, shared_web

Lint
  magic/tournaments.py
Due: magic

Refactor to ES6 and add support for touch and tab input.
  shared_web/static/js/tooltips.js
Due: shared, shared_web

Fix typo in viewport early return.
  shared_web/static/js/tooltips.js
Due: shared, shared_web

Tidy code style.
  shared_web/static/js/tooltips.js
Due: shared, shared_web

Inline _padContent.
  shared_web/static/js/tooltips.js
Due: shared, shared_web

Removed listener helper.
  shared_web/static/js/tooltips.js
Due: shared, shared_web

Use pointer events.
  shared_web/static/js/tooltips.js
Due: shared, shared_web

Create dispose methods for React.
  shared_web/static/js/tooltips.js
Due: shared, shared_web

Update tournament rules for wrong deck issues to be simpler
  decksite/templates/tournaments.mustache
Due: decksite

couple bugfixes for old formats: Winner and player on the play
  maintenance/analyze_games.py
Due: none

Whitelist some fairly tame censored words
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Types
  decksite/deck_name_test.py
Due: decksite

Lint
  decksite/deck_name.py
Due: decksite

Oh no
  magic/multiverse.py
Due: magic

Add jishaku cog
  Dockerfile
  Pipfile
  Pipfile.lock
  discordbot/bot.py
  docker-compose.yml
Due: discordbot

Disable gatherling scraper because it's broken and took down decksite with bad data
  decksite/scrapers/gatherling.py
Due: decksite

Fix homepage
  decksite/views/home.py
Due: decksite

Prompt archetype sorters to create rules for decks played multiple times
  decksite/templates/editarchetypes.mustache
  decksite/views/edit_archetypes.py
Due: decksite

Remove test that tests disabled func
  decksite/scrapers/scraper_test.py
Due: decksite

Lint
  decksite/scrapers/scraper_test.py
  decksite/views/edit_archetypes.py
Due: decksite

Build update
  package-lock.json
Due: none

Fix touch references and mouse events on init.
  shared_web/static/js/pd.js
  shared_web/static/js/tooltips.js
Due: shared, shared_web

Add fallback for load listeners.
  shared_web/static/js/tooltips.js
Due: shared, shared_web

Early return for IE dimension check.
  shared_web/static/js/tooltips.js
Due: shared, shared_web

The HTML scraper should be failing here, make sure it does
  decksite/scrapers/gatherling.py
Due: decksite

Dubiously useful type annotations on mostly-generated code for mypy upgrade
  logsite_migrations/env.py
  logsite_migrations/versions/0f0bd1e9444e_.py
  logsite_migrations/versions/4680022c11c2_.py
  logsite_migrations/versions/9c3b192c6dbf_.py
Due: none

Remove Google Analytics
  decksite/templates/footer.mustache
Due: decksite

Include referrer info when present in 404 logging
  shared_web/flask_app.py
Due: shared, shared_web

New gatherling scraper that uses the API
  decksite/scrapers/gatherling.py
  decksite/scrapers/gatherling_test.py
Due: decksite
