Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Update seaborn from 0.10.1 to 0.11.0
  requirements.txt
Due: none

Pin pip-check-reqs to latest version 2.1.1
  requirements.txt
Due: none

Pin lxml to latest version 4.5.2
  requirements.txt
Due: none

Pin aiohttp to latest version 3.6.2
  requirements.txt
Due: none

Pin python-dotenv to latest version 0.14.0
  requirements.txt
Due: none

Update client dependencies.
  shared_web/templates/jsdependencies.mustache
Due: shared, shared_web

Add some sensible cookie rules.
  decksite/main.py
  shared_web/flask_app.py
Due: decksite, shared, shared_web

Post-rotation tweaks
  .vscode/settings.json
  Dockerfile
  decksite/smoke_test.py
  decksite/templates/header.mustache
  rotation_script/rotation_script.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Fix
  decksite/smoke_test.py
Due: decksite

lint
  decksite/smoke_test.py
Due: decksite

Testtest
  decksite/smoke_test.py
  discordbot/command.py
  discordbot/unit_test.py
  shared_web/smoke.py
Due: decksite, discordbot, shared, shared_web

Command to explain necessary record to make Top N in Swiss tournaments
  discordbot/commands/swiss.py
Due: discordbot

Fix imports.
  discordbot/commands/swiss.py
Due: discordbot

Context
  decksite/smoke_test.py
Due: decksite

Why is this so hard?
  decksite/smoke_test.py
Due: decksite

Intents
  discordbot/bot.py
Due: discordbot

Add missing parts of Swiss command and fix types.
  discordbot/commands/swiss.py
  magic/tournaments.py
Due: discordbot, magic

hmm
  decksite/smoke_test.py
Due: decksite

Forgot about robots.txt
  decksite/smoke_test.py
Due: decksite

Let's just get this out there.
  decksite/controllers/people.py
  decksite/smoke_test.py
Due: decksite

Reactify leaderboards, redesign live tables to look better when skinny.
  decksite/controllers/api.py
  decksite/controllers/competitions.py
  decksite/data/competition.py
  decksite/data/query.py
  decksite/prepare.py
  decksite/templates/competition.mustache
  decksite/templates/liveleaderboardtable.mustache
  decksite/templates/tournamentleaderboards.mustache
  decksite/templates/tournamentrounds.mustache
  decksite/view.py
  decksite/views/competition.py
  decksite/views/tournament_hosting.py
  decksite/views/tournament_leaderboards.py
  decksite/views/tournaments.py
  decksite/webpack.config.js
  shared_web/flask_app.py
  shared_web/static/css/pd.css
  shared_web/static/js/leaderboardtable.jsx
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Lint and typing.
  decksite/controllers/api.py
  decksite/data/competition.py
  decksite/prepare.py
  decksite/view.py
  decksite/views/competition.py
  shared_web/static/js/leaderboardtable.jsx
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Import Table correctly.
  shared_web/static/js/leaderboardtable.jsx
Due: shared, shared_web

Make tournament-only stats work for card detail page.
  decksite/controllers/metagame.py
  decksite/data/card.py
Due: decksite

Use our font for more things in forms.
  shared_web/static/css/pd.css
Due: shared, shared_web

Get the date of the season kick off correct.
  magic/tournaments.py
Due: magic

Don't always show season kick off date. Only if it is in the future.
  decksite/views/home.py
Due: decksite

Retire 'pages' in favor of 'total'.
  decksite/controllers/api.py
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Use the right css class for deck name cells.
  shared_web/static/js/decktable.jsx
Due: shared, shared_web

Increase the width of record in people tables.
  shared_web/static/css/pd.css
  shared_web/static/js/persontable.jsx
Due: shared, shared_web

Fix "seasons cube" to be more like an actual cube.
  decksite/views/person.py
Due: decksite

Set the colspan on matchups grid upper header row correctly.
  decksite/templates/matchupgrid.mustache
  decksite/view.py
Due: decksite

Unbreak layout at narrow screen widths.
  shared_web/static/css/pd.css
Due: shared, shared_web

Simplify and fix bug in unique cards played.
  decksite/data/card.py
Due: decksite

Further amendments to get unique cards played in a good state.
  decksite/data/card.py
  decksite/templates/person.mustache
Due: decksite

Format trailblazer cards properly.
  decksite/templates/person.mustache
Due: decksite

Final version of unique cards played query.
  decksite/data/card.py
Due: decksite

Sort win percent numerically not lexicographically.
  decksite/data/query.py
Due: decksite

Fix text color when typing in search box.
  shared_web/static/css/pd.css
Due: shared, shared_web

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
