Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Update client dependencies.
  shared_web/templates/jsdependencies.mustache
Due: shared, shared_web

Migrate from Chart.js 2.9 to 3.5
  decksite/views/person.py
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

npm audit fix
  package-lock.json
Due: none

Progress on a big refactor
  decksite/controllers/api.py
  decksite/views/rotation.py
  dev.py
  discordbot/.prout.json
  discordbot/command.py
  discordbot/commands/notpenny.py
  discordbot/commands/time.py
  discordbot/emoji.py
  docker-compose.yml
  magic/fetcher.py
  magic/models/card.py
  magic/multiverse.py
  magic/rotation.py
  shared/configuration.py
  shared/settings.py
Due: decksite, discordbot, magic, shared

Rename "Penny Dreadful" in a lot of places
  decksite/league.py
  decksite/prepare.py
  decksite/scrapers/mtggoldfish.py
  decksite/scrapers/tappedout.py
  decksite/view.py
  decksite/views/about.py
  discordbot/commands/history.py
  find/search.py
  magic/fetcher.py
  magic/legality.py
  magic/legality_test.py
  magic/multiverse.py
  magic/oracle_test.py
  magic/rotation.py
  magic/seasons.py
Due: decksite, discordbot, magic

Missed a spot
  find/find_test.py
  magic/seasons.py
Due: magic

Oh look, a slightly hacky banner implementation
  decksite/controllers/api.py
  decksite/data/playability.py
  decksite/main.py
  decksite/sql/62.sql
  decksite/templates/header.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Quick Fix
  decksite/main.py
  magic/legality.py
Due: decksite, magic

Lint
  magic/legality.py
Due: magic

Don't load banner.css it is causing login issues
  decksite/templates/header.mustache
Due: decksite

Fix 'double legality' of current season decks
  decksite/prepare.py
Due: decksite

Add a 'rank' column to rotation
  decksite/controllers/api.py
  decksite/controllers/resources.py
  decksite/data/playability.py
  magic/models/card.py
  magic/rotation.py
  shared_web/static/css/pd.css
  shared_web/static/js/rotationtable.jsx
Due: decksite, magic, shared, shared_web

Avoid mariadb error by deleting card tables one by one
  magic/multiverse.py
Due: magic

Split SQL statements up into separate executions to please mariadb
  decksite/data/season.py
Due: decksite

added archetype api endpoint
  decksite/controllers/api.py
  decksite/data/archetype.py
Due: decksite

Whitelist a deckname that uses a pound symbol
  decksite/deck_name.py
Due: decksite

Return the stars to visibility
  shared_web/static/css/pd.css
Due: shared, shared_web

Include the age of HEAD in !version
  discordbot/commands/version.py
Due: discordbot

Add Discord link to pd500/kickoff pages
  decksite/templates/kickoff.mustache
  decksite/templates/pd500.mustache
Due: decksite

Turn the banner back on, as it's been a couple days and we identified the cache problem
  .gitignore
  Pipfile
  decksite/main.py
  decksite/templates/header.mustache
Due: decksite

This isn't working on prod, but I don't know why
  decksite/main.py
Due: decksite

Oh, I see
  decksite/data/playability.py
  decksite/main.py
Due: decksite

Include an ORDER
  decksite/data/playability.py
Due: decksite

Ignore Basics
  decksite/main.py
Due: decksite

Use the correct season's banner when viewing old decks
  decksite/views/deck.py
Due: decksite

Fix bug with rank sort
  decksite/controllers/api.py
Due: decksite

Allow 'penny' as well as 'pd' for format in search
  find/find_test.py
  find/search.py
Due: none

Fix colon operator with color identity criterion
  find/find_test.py
  find/search.py
Due: none

Update tests relating to color identity
  find/find_test.py
Due: none

Use the total before we slice to page size in rotation cards api
  decksite/controllers/api.py
Due: decksite

Better banner query!
  decksite/data/playability.py
  decksite/main.py
  magic/image_fetcher.py
Due: decksite, magic

Update seasons.py
  magic/seasons.py
Due: magic

Clarification of tournament rules
  decksite/templates/tournaments.mustache
Due: decksite

Faithful Mending alias
  card_aliases.tsv
Due: none

Curate banner for S21 and S22
  decksite/main.py
Due: decksite

Don't strip non-English word chars on front of deck name
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Fix issue with all cards showing as newly legal on /rotation/changes
  magic/rotation.py
Due: magic

Exclude 'colorless' from 'mono' treatment
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
