Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Mergify: configuration update
  .mergify.yml
Due: none

Remove Cleanse and Crusade from the Legal Cards list (The others were never online in the first place)
  rotation_script/rotation_script.py
Due: none

Housekeeping
  .github/workflows/isort.yml
  .mergify.yml
Due: none

linting
  rotation_script/rotation_script.py
Due: none

create pyup.io config file
  .pyup.yml
Due: none

Pin astroid to latest version 2.4.2
  requirements.txt
Due: none

Pin babel to latest version 2.8.0
  requirements.txt
Due: none

Pin packaging to latest version 20.4
  requirements.txt
Due: none

Update pytest-cov from 2.9.0 to 2.10.0
  requirements.txt
Due: none

Pin six to latest version 1.15.0
  requirements.txt
Due: none

Update titlecase from 0.12.0 to 1.1.1
  requirements.txt
Due: none

Pin typing-extensions to latest version 3.7.4.2
  requirements.txt
Due: none

Pin werkzeug to latest version 1.0.1
  requirements.txt
Due: none

All the required fields are now there.
  decksite/controllers/api.py
Due: decksite

Linting
  decksite/controllers/api.py
Due: decksite

More Linting
  decksite/controllers/api.py
Due: decksite

Support draws in insert_match.
  decksite/data/match.py
Due: decksite

Imports.
  shared_web/flask_app.py
Due: shared, shared_web

Pin flask-restx to latest version 0.2.0
  requirements.txt
Due: none

Pin pyjwt to latest version 1.7.1
  requirements.txt
Due: none

Typing.
  decksite/views/rotation.py
Due: decksite

Hide all undecided cards on rotation page and reopen to all viewers.
  decksite/controllers/resources.py
  decksite/templates/rotation.mustache
  decksite/views/rotation.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Turn off process_logs - it doesn't quite work and it isn't in use.
  analysis/analysis.py
  maintenance/process_logs.py
Due: none

Make sure it's set
  shared/configuration.py
  shared_web/flask_app.py
Due: shared, shared_web
