Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Typing and linting.
  decksite/controllers/api.py
  decksite/prepare.py
Due: decksite

Add menu items to the typeahead and switch to a fork of the library.
  decksite/controllers/api.py
  shared_web/jsdependencies.txt
  shared_web/templates/jsdependencies.mustache
Due: decksite, shared, shared_web

Add resources to typeahead search.
  maintenance/typeahead.py
Due: none

Move url template cache from module-level to request-level.
  decksite/prepare.py
Due: decksite

Make tab and enter take you to top search results in typeahead search.
  shared_web/static/js/pd.js
Due: shared, shared_web

Tell jslint we don't mind a large file and not to link inlined plugin.
  shared_web/static/js/pd.js
Due: shared, shared_web

Range select and all|none for checkboxes on /admin/archetypes
  decksite/templates/editarchetypes.mustache
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Don't send kwargs to logging funcs (causes a TypeError).
  discordbot/bot.py
Due: discordbot

Logging
  discordbot/bot.py
Due: discordbot

Reorder lint and related checking to put fastest checks first, add import sort
  dev.py
Due: none

Clean up logging per pylint.
  discordbot/bot.py
Due: discordbot

Rejig explain netdecking.
  discordbot/commands/explain.py
Due: discordbot

Alert via github issue on perf-reports when there's a new layout in scryfall.
  magic/multiverse.py
  magic/oracle.py
  magic/rotation.py
  magic/whoosh_write.py
Due: magic

Use monospaced digits in numeric table columns.
  shared_web/static/css/pd.css
Due: shared, shared_web

Better search box display at all sizes.
  shared_web/static/css/pd.css
Due: shared, shared_web

Use a constant not a string for cache key.
  magic/multiverse.py
Due: magic

Remove spurious class causing silliness on mouseover.
  shared_web/static/js/cardtable.jsx
Due: shared, shared_web

Filter live cardtable by name.
  analysis/analysis.py
  decksite/controllers/api.py
  decksite/data/card.py
  package-lock.json
  package.json
  shared_web/static/css/pd.css
  shared_web/static/js/cardtable.jsx
Due: decksite, shared, shared_web

Don't show scryfall filter on /cards/ as it no longer really works there.
  decksite/views/cards.py
Due: decksite

Types.
  decksite/data/card.py
Due: decksite

Refactoring based on lint (too many arguments in API code).
  decksite/controllers/api.py
  decksite/data/card.py
  decksite/data/query.py
  decksite/views/cards.py
  shared_web/static/js/cardtable.jsx
Due: decksite, shared, shared_web

Types.
  decksite/data/query.py
Due: decksite

Lint correctly.
  decksite/data/card.py
Due: decksite

JSLint.
  shared_web/static/js/cardtable.jsx
Due: shared, shared_web

Add modal_dfc layout per Scryfall.
  decksite/prepare.py
  magic/card.py
  magic/fetcher.py
  magic/image_fetcher.py
  magic/models/card.py
  magic/multiverse.py
  modo_bugs/fetcher.py
Due: decksite, magic

Pin aiohttp to latest version 3.6.2
  requirements.txt
Due: none

Update coverage from 5.2.1 to 5.3
  requirements.txt
Due: none

Update feedparser from 5.2.1 to 6.0.0
  requirements.txt
Due: none

Pin pip-check-reqs to latest version 2.1.1
  requirements.txt
Due: none

Update google-api-python-client from 1.11.0 to 1.12.0
  requirements.txt
Due: none

Update isort from 4.3.21 to 5.5.2
  requirements.txt
Due: none

Pin lxml to latest version 4.5.2
  requirements.txt
Due: none

Update pylint from 2.5.3 to 2.6.0
  requirements.txt
Due: none

Pin python-dotenv to latest version 0.14.0
  requirements.txt
Due: none

Update seaborn from 0.10.1 to 0.11.0
  requirements.txt
Due: none

Explain promos commmand for bot.
  discordbot/commands/explain.py
Due: discordbot

Make Gatherling link point at the actual PD 500 registration.
  decksite/templates/pd500.mustache
Due: decksite

Types.
  discordbot/commands/explain.py
Due: discordbot

Lint.
  discordbot/commands/explain.py
Due: discordbot
