Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Fixup tournament info after adding additional id param to the tuple
  magic/tournaments.py
Due: magic

Missed a spot
  magic/tournaments.py
Due: magic

PD 500 banner at top of site
  decksite/templates/header.mustache
  decksite/templates/pd500notice.mustache
  decksite/view.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Hotfix for issue causing homepage 500
  magic/tournaments.py
Due: magic

Prevent infinite redirects at /seasons/
  decksite/main.py
  decksite/smoke_test.py
Due: decksite

Remove tests that cannot pass during build because they rely on scheduled job
  decksite/smoke_test.py
Due: decksite

Revert "Don't try to guess archetypes - it is implicated in perf issues on the site"
  maintenance/guess_league_archetypes.py
Due: none

We don't need to reprime_cache here. It's very expensive and time consuming
  maintenance/post_rotation.py
Due: none

This is what was missing
  maintenance/post_rotation.py
Due: none

Update rotation instructions with the latest
  decksite/templates/rotationchecklist.mustache
Due: decksite

Return search code to its former glory as a basis for in-page card search
  find/__init__.py
  find/expression.py
  find/find_test.py
  find/search.py
  find/tokens.py
  generate_readme.py
Due: none

Modernize the search code, we don't have a sqlite version any more
  find/find_test.py
Due: none

Modernize and restore some missing pieces for 2.5 year old search code
  find/search.py
  shared/database.py
Due: shared

Update some details of card search to match the current cards db setup
  find/find_test.py
  find/search.py
Due: none

Instead of matching name in /api/cards2 run a card search and match the results
  decksite/controllers/api.py
  decksite/data/query.py
  decksite/data/query_test.py
Due: decksite

Types for revived search code
  decksite/data/query.py
  find/expression.py
  find/find_test.py
  find/search.py
  find/tokens.py
  maintenance/elo.py
  shared/database.py
Due: decksite, shared

Refinemennts to in-page search
  decksite/data/query.py
  decksite/data/query_test.py
  find/search.py
Due: decksite

Change the cards prompt now we support scryfall syntax
  shared_web/static/js/cardtable.jsx
Due: shared, shared_web

Make the opacity reduction on focus less dramatic
  shared_web/static/css/pd.css
Due: shared, shared_web

Fix imports
  find/search.py
Due: none

Lint the newly-revived search code
  decksite/data/query.py
  decksite/data/query_test.py
  find/find_test.py
  find/search.py
  maintenance/elo.py
  pylint_monolith/monolith_checker.py
Due: decksite

Add Penny Dreadful Tuesdays
  discordbot/commands/explain.py
  magic/tournaments.py
Due: discordbot, magic

Don't confuse people by showing the machine's gueses at archetypes
  decksite/templates/subtitle.mustache
Due: decksite

Ninja perf fix to /admin/rules by removing overlooked decks
  decksite/controllers/admin.py
Due: decksite

Add Strixhaven to known seasons
  magic/seasons.py
Due: magic

Ignore 'Snow-Covered ' for the purposes of rule-matching
  decksite/data/rule.py
Due: decksite

gitignore pycharm files
  .gitignore
Due: none

Make linking of PD 500 and Kick Off consistent
  decksite/templates/home.mustache
Due: decksite

Simplify chained comparison
  decksite/view.py
Due: decksite

Sequence not List as return type
  magic/tournaments.py
Due: magic

This actually breaks. So much for Python refactoring
  decksite/view.py
Due: decksite

Fix display of Kick Off name on / and /tournaments/, and add a banner
  decksite/templates/kickoffnotice.mustache
  decksite/view.py
  magic/tournaments.py
  magic/tournaments_test.py
Due: decksite, magic

Allow admins to see active league runs on player page
  decksite/data/query.py
  decksite/view.py
Due: decksite

Make pd500_date nullable when start of next season is not known, and repsect
  decksite/views/home.py
  decksite/views/pd500.py
  magic/tournaments.py
Due: decksite, magic

Types
  decksite/view.py
  magic/tournaments_test.py
Due: decksite, magic

Lint
  magic/tournaments_test.py
Due: magic

Enforce max len of deck name (prevent display issues)
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Access session admin var at the appropriate level
  decksite/controllers/api.py
  decksite/data/query.py
  decksite/data/query_test.py
Due: decksite

Bring /tournaments/hosting/ up to date
  decksite/templates/tournamenthosting.mustache
Due: decksite

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
