Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Reduce 404 log noise by making it a single line warning not exception log error.
  shared_web/flask_app.py
Due: shared, shared_web

Typing.
  magic/mana.py
Due: magic

Commands for the PD 500 and the Season Kick Off.
  discordbot/commands/kickoff.py
  discordbot/commands/pd500.py
Due: discordbot

Make image dir creation a little more robust.
  magic/image_fetcher.py
Due: magic

Update how we sort decks by color.
  decksite/data/deck.py
  magic/mana.py
  magic/mana_test.py
Due: decksite, magic

jslint
  shared_web/static/js/pd.js
Due: shared, shared_web

Be a bit less zealous in sending you to the search box.
  shared_web/static/js/pd.js
Due: shared, shared_web

Jeskai Ascendancy alias.
  card_aliases.tsv
Due: none

Include the number of legal cards on /seasons/. Correct link to legal cards.
  decksite/templates/seasons.mustache
  decksite/view.py
  decksite/views/seasons.py
Due: decksite

A hype command that invokes the rotation hype message.
  discordbot/commands/hype.py
Due: discordbot

Number of Runs needs to expire more quickly.
  magic/rotation.py
Due: magic

Make sure !hype doesn't cause unexpected problems
  discordbot/commands/hype.py
Due: discordbot

Fix hanging file handle
  magic/rotation.py
Due: magic

Reactify head-to-head table on person detail page.
  decksite/controllers/api.py
  decksite/data/person.py
  decksite/data/query.py
  decksite/templates/liveheadtoheadtable.mustache
  decksite/templates/person.mustache
  decksite/templates/stats.mustache
  decksite/views/person.py
  decksite/webpack.config.js
  dev_test.py
  shared_web/static/css/pd.css
  shared_web/static/js/headtoheadtable.jsx
  shared_web/static/js/persontable.jsx
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Follow deepcode's advice to set state from props in the constructor.
  shared_web/static/js/table.jsx
Due: shared, shared_web

Five Minutes?
  magic/rotation.py
Due: magic

Use correct property name.
  shared_web/static/js/table.jsx
Due: shared, shared_web

Discord have changed the display of :beetle: - update to a red emoji.
  discordbot/command.py
  discordbot/emoji.py
  discordbot/emoji_test.py
Due: discordbot

Remove unused view/template.
  decksite/templates/addform.mustache
  decksite/views/add_form.py
Due: decksite

Elide h1 on home page.
  decksite/templates/banner.mustache
  decksite/view.py
  decksite/views/home.py
Due: decksite

Missing subtemplates for banner accidentally omitted.
  decksite/templates/buttons.mustache
  decksite/templates/sourcebutton.mustache
  decksite/templates/subtitle.mustache
Due: decksite

CSS changes for a world where every page has a banner.
  shared_web/static/css/pd.css
Due: shared, shared_web

Clean up buttons implementation.
  decksite/templates/buttons.mustache
  decksite/templates/filterstoggle.mustache
  decksite/templates/sourcebutton.mustache
  decksite/templates/tournamenttoggle.mustache
Due: decksite

Layout sections with flexbox not floats.
  decksite/templates/footer.mustache
  decksite/templates/header.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

It turns out breaking the right margin of the page is worse than a tiny box.
  shared_web/static/css/pd.css
Due: shared, shared_web

Use f-string where one was intended.
  discordbot/commands/hype.py
Due: discordbot

Use display:flex to layout sections.
  decksite/templates/banner.mustache
  decksite/templates/header.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Show buttons when filters toggle is to be shown.
  decksite/view.py
Due: decksite

Have the bot clear the redis rotation cache before emitting hype message.
  discordbot/bot.py
  discordbot/commands/hype.py
  magic/rotation.py
Due: discordbot, magic

Always send a rotation hype message in response to the hype comamnd.
  discordbot/bot.py
  discordbot/commands/hype.py
Due: discordbot

Remove some redundancy that deepcode found.
  discordbot/bot.py
Due: discordbot

Pin aiohttp to latest version 3.6.2
  requirements.txt
Due: none

Pin pip-check-reqs to latest version 2.1.1
  requirements.txt
Due: none

Pin lxml to latest version 4.5.2
  requirements.txt
Due: none

Pin python-dotenv to latest version 0.14.0
  requirements.txt
Due: none

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
