Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Introduce the concept of a on-per-unit-test test db
  README.md
  decksite/testutil.py
Due: decksite

Config option for test db
  shared/configuration.py
Due: shared

Workaround a mixing of layers in decksite.data.match
  decksite/data/match.py
Due: decksite

New gatherling scraper that uses the API (2)
  decksite/scrapers/gatherling.py
  shared/dtutil.py
Due: decksite, shared

Typehint insert_match correctly
  decksite/data/match.py
Due: decksite

Install pydantic for use in Gatherling API parsing
  Pipfile
Due: none

Monkey around with decksite.database to allow for a once-per-test test db
  decksite/database.py
Due: decksite

Get types working for pydantic
  decksite/scrapers/gatherling.py
  decksite/scrapers/gatherling_test.py
  mypy.ini
Due: decksite

Lint
  decksite/scrapers/gatherling.py
Due: decksite

Types
  decksite/data/match.py
  decksite/scrapers/gatherling.py
  decksite/scrapers/gatherling_test.py
  decksite/testutil.py
Due: decksite

Imports
  decksite/scrapers/gatherling.py
  decksite/testutil.py
Due: decksite

Pipfile.Lock
  .github/workflows/build.yml
  .travis.yml
  Pipfile.lock
Due: none

Fix pylint_threads
  .github/workflows/build.yml
Due: none

Abandon pylint
  .github/workflows/build.yml
Due: none

Remove some errant parens
  decksite/scrapers/gatherling.py
Due: decksite

Ughhh
  Pipfile.lock
Due: none

Enable flake8-quotes, fix lint errors in scraper
  Pipfile
  Pipfile.lock
  decksite/deck_name_test.py
  decksite/league.py
  decksite/scrapers/gatherling_test.py
  magic/mana_test.py
  run.py
Due: decksite, magic

Fix docstring
  modo_bugs/strings.py
Due: none

Enable flake8-bugbear
  Pipfile
  Pipfile.lock
  magic/models/card.py
Due: magic

Ability to scrape individual events
  decksite/scrapers/gatherling.py
  run.py
Due: decksite

So many trailing commas...
  Pipfile
  Pipfile.lock
  decksite/__init__.py
  decksite/controllers/api.py
  decksite/data/card.py
  decksite/data/deck.py
  decksite/data/query.py
  decksite/data/query_test.py
  decksite/deck_name.py
  decksite/deck_name_test.py
  decksite/league.py
  decksite/scrapers/gatherling_test.py
  decksite/view.py
  decksite/views/about.py
  decksite/views/archetype.py
  decksite/views/home.py
  decksite/views/matchups.py
  decksite/views/person.py
  discordbot/command.py
  discordbot/commands/explain.py
  discordbot/functional_test.py
  find/search.py
  logsite/api.py
  logsite/db.py
  logsite_migrations/versions/9c3b192c6dbf_.py
  magic/abc/card_description.py
  magic/card.py
  magic/multiverse.py
  magic/rotation.py
  magic/seasons.py
  magic/tournaments.py
  magic/whoosh_search.py
  maintenance/generate_translations.py
  modo_bugs/scrape_announcements.py
  pylint_monolith/monolith_checker.py
  shared/fetch_tools.py
  shared/repo.py
  shared_web/api.py
  shared_web/flask_app.py
  shared_web/views/error.py
Due: decksite, discordbot, magic, shared, shared_web

Account for changes in gatherling API in new scraper
  decksite/scrapers/gatherling.py
  decksite/scrapers/gatherling_test.py
Due: decksite

Fix broken test due to merge resolution
  decksite/scrapers/gatherling.py
  decksite/scrapers/gatherling_test.py
Due: decksite

Lint
  decksite/scrapers/gatherling.py
  decksite/scrapers/gatherling_test.py
Due: decksite

Sentry Filter
  shared_web/flask_app.py
Due: shared, shared_web

Linting
  Pipfile
  decksite/controllers/api.py
  decksite/data/achievements.py
  decksite/deck_name_test.py
  discordbot/commands/google.py
  magic/oracle.py
  shared/database.py
Due: decksite, discordbot, magic, shared

Missing Default param
  decksite/scrapers/gatherling.py
Due: decksite

I can't accurately type this :/
  shared_web/flask_app.py
Due: shared, shared_web

Fix #8462, missing slash in scraper deck url
  decksite/scrapers/gatherling.py
Due: decksite

Fix #8457, byes were not handled correctly by the scraper
  decksite/scrapers/gatherling.py
Due: decksite

Revert "Tooltips: Refactor to ES6 and add support for touch and tab input. "
  shared_web/static/js/pd.js
  shared_web/static/js/tooltips.js
Due: shared, shared_web

Alias for Elspeth Conquers Death
  card_aliases.tsv
Due: none

updated mtgbot swiss.py command to report the number of players who can barely make top n rather than merely the worst record of who can make the top n
  discordbot/commands/swiss.py
Due: discordbot

fixed failed tests (maybe?)
  discordbot/commands/swiss.py
Due: discordbot

made it say person instead of people if x = 1, also changed - to or
  discordbot/commands/swiss.py
Due: discordbot

Lint
  discordbot/commands/swiss.py
Due: discordbot

Move the PD 500 one week later
  magic/tournaments.py
Due: magic
