Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Drop one second of "end date" of week to get better display
  decksite/views/prizes.py
Due: decksite

Skip in-progress gatherling tourneys correctly in scraper after HTML change
  decksite/scrapers/gatherling.py
Due: decksite

Lint.
  decksite/scrapers/gatherling.py
Due: decksite

Fix bot command explain netdecking
  discordbot/commands/explain.py
Due: discordbot

Don't show a tournament from last season on homepage at season changeover
  decksite/data/deck.py
  decksite/main.py
Due: decksite

Whitelist some deck names.
  decksite/deck_name.py
Due: decksite

Use oldstyle nums in opponent name in match list
  decksite/templates/deckmatches.mustache
Due: decksite

Typing.
  decksite/data/deck.py
Due: decksite

Reminder to check Gatherling game breaking bugged cards list occasionally.
  decksite/templates/rotationchecklist.mustache
Due: decksite

Pin aiohttp to latest version 3.6.2
  requirements.txt
Due: none

Pin pip-check-reqs to latest version 2.1.1
  requirements.txt
Due: none

Update isort from 4.3.21 to 5.4.2
  requirements.txt
Due: none

Pin lxml to latest version 4.5.2
  requirements.txt
Due: none

Update matplotlib from 3.3.0 to 3.3.1
  requirements.txt
Due: none

Update pygithub from 1.51 to 1.52
  requirements.txt
Due: none

Update pytest-cov from 2.10.0 to 2.10.1
  requirements.txt
Due: none

Pin python-dotenv to latest version 0.14.0
  requirements.txt
Due: none

Update .mergify.yml
  .mergify.yml
Due: none

Fix a typo
  run.py
Due: none

Minor change to wording of message
  discordbot/commands/explain.py
Due: discordbot

Add discord bot configuration to docker file
  docker-compose.yml
Due: none

Edit wording of message.
  discordbot/commands/explain.py
Due: discordbot

Fix #7667
  discordbot/bot.py
  discordbot/commands/art.py
Due: discordbot

Move logger to shared, so we can use it in `magic`
  decksite/charts/chart.py
  decksite/data/achievements.py
  decksite/data/deck.py
  decksite/data/person.py
  decksite/data/preaggregation.py
  decksite/data/rule.py
  decksite/database.py
  decksite/league.py
  decksite/main.py
  decksite/scrapers/gatherling.py
  decksite/scrapers/mtggoldfish.py
  decksite/scrapers/tappedout.py
  discordbot/bot.py
  logsite/stats.py
  maintenance/elo.py
  maintenance/squash_people.py
  maintenance/update_translations.py
  shared/logger.py
  shared_web/flask_app.py
  shared_web/oauth.py
Due: decksite, discordbot, shared, shared_web

Apply is_owner correctly.
  discordbot/commands/clearimagecache.py
  discordbot/commands/restartbot.py
  discordbot/commands/rotate.py
Due: discordbot

Update README
  README.md
  dev.py
Due: none

Linting
  decksite/charts/chart.py
  discordbot/bot.py
Due: decksite, discordbot

Create test file
  akira_play.py
Due: none

Delete test file
  akira_play.py
Due: none

Add extra testing
  decksite/deck_name_test.py
Due: decksite

Add Spacing
  decksite/deck_name.py
Due: decksite

Linting
  decksite/controllers/metagame.py
  decksite/data/achievements.py
  decksite/data/archetype.py
  decksite/data/query.py
  decksite/deck_name.py
  decksite/scrapers/gatherling.py
  decksite/scrapers/mtggoldfish.py
  dev.py
  magic/decklist.py
  magic/fetcher.py
  magic/rotation.py
  shared/configuration.py
  shared/container.py
  shared/database.py
  shared/fetch_tools.py
  shared/guarantee.py
Due: decksite, magic, shared

Remove cyclic imports
  decksite/controllers/api.py
  decksite/views/rotation.py
  discordbot/bot.py
  discordbot/emoji.py
  magic/card.py
  magic/multiverse.py
  magic/oracle.py
  magic/rotation.py
  magic/rotation_info.py
  magic/whoosh_write.py
  rotation_script/rotation_script.py
Due: decksite, discordbot, magic

Close file handle
  magic/rotation_info.py
Due: magic

More Cyclic imports
  .pylintrc
  magic/fetcher.py
  maintenance/gatherling_substitutions.py
Due: magic
