Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Support more decklist formats.
  magic/decklist.py
  magic/decklist_test.py
Due: magic

Be a bit less pernickety about what is accepted for "preferred printing"
  discordbot/command.py
  discordbot/commands/flavor.py
Due: discordbot

Bring resources a bit more up to date.
  decksite/resources.json
Due: decksite

Add jenkin to video section of resources.
  decksite/resources.json
Due: decksite

Typing fixes.
  discordbot/command.py
Due: discordbot

explain for 'onegame'
  discordbot/commands/explain.py
Due: discordbot

Do not do idiotic assignment to nothing
  discordbot/command.py
Due: discordbot

Add earterms as streamer.
  decksite/resources.json
Due: decksite

Hide the status bar after 20 requests (about 10 page views)
  decksite/main.py
Due: decksite

Handle 4-letter setcodes, and better tests
  .mergify.yml
  discordbot/bot.py
  discordbot/command.py
  discordbot/functional_test.py
Due: discordbot

Linting
  discordbot/functional_test.py
Due: discordbot

Sort Imports
  discordbot/functional_test.py
Due: discordbot

Fix overlong var name for lint
  decksite/main.py
Due: decksite

Lint.
  decksite/main.py
Due: decksite

Only look at the "front" of adventures in search results
  magic/fetcher.py
Due: magic

Use MTGO format in MTGO export files
  decksite/controllers/resources.py
Due: decksite

Don't overcount decks on /seasons/
  decksite/data/season.py
Due: decksite

Make all non-playable cards (vanguard, tokens, etc.) non-searchable
  magic/whoosh_write.py
Due: magic

Only show rotation page in hype msg if it is showing something to non-admins
  discordbot/bot.py
Due: discordbot

Remove duplicate defintion in README.md
  README.md
Due: none

Don't allow NULL Elo to avoid "None" appearing in the chart
  decksite/sql/59.sql
Due: decksite

Sanitize "Penny-Zombies" as "Zombies" (deck name)
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Correctly strip closing parentheses or square brackets in penny prefix/suffix
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Special case a complex deck name
  decksite/deck_name.py
Due: decksite

Move all people-related controllers to controllers/people.py
  decksite/controllers/__init__.py
  decksite/controllers/competitions.py
  decksite/controllers/metagame.py
  decksite/controllers/people.py
  decksite/data/person.py
Due: decksite

Update isort from 4.3.21 to 5.2.0
  requirements.txt
Due: none

Pin python-dotenv to latest version 0.14.0
  requirements.txt
Due: none

Add new word to profanity list.
  decksite/deck_name.py
Due: decksite

Fix #7581
  .gitignore
  .vscode/settings.json
  shared/configuration.py
Due: shared

Check is owner correctly on rotate command
  discordbot/commands/rotate.py
Due: discordbot

Update mysql_password to mysql_passwd
  README.md
Due: none
