Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Gatherling API now sends list of players not dict
  decksite/scrapers/gatherling.py
  decksite/scrapers/gatherling_test.py
Due: decksite

Remove errant print statement from test
  decksite/scrapers/gatherling_test.py
Due: decksite

!explain speculation
  discordbot/commands/explain.py
  magic/fetcher.py
Due: discordbot, magic

Update explain.py
  discordbot/commands/explain.py
Due: discordbot

Refactor load_matches a little to get rid of linter warning
  decksite/data/match.py
Due: decksite

Rename api func so that pytest doesn't think it's a unit test
  decksite/controllers/api.py
Due: decksite

Reactify /rotation/
  decksite/controllers/api.py
  decksite/controllers/api_test.py
  decksite/controllers/resources.py
  decksite/templates/rotation.mustache
  decksite/templates/rotationchanges.mustache
  decksite/templates/rotationkey.mustache
  decksite/views/rotation.py
  decksite/webpack.config.js
  magic/rotation.py
  magic/rotation_test.py
  magic/seasons_test.py
  shared_web/static/css/pd.css
  shared_web/static/js/cardtable.jsx
  shared_web/static/js/rotationtable.jsx
  shared_web/static/js/table.jsx
Due: decksite, magic, shared, shared_web

Create a way to sort rotation data, plus a test
  decksite/controllers/api.py
  decksite/controllers/api_test.py
Due: decksite

Reinstate interestingness on /rotation/
  decksite/controllers/api.py
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Clean up a couple formatting issues
  decksite/data/card.py
  magic/rotation.py
Due: decksite, magic

Alias for Simian Spirit Guide
  card_aliases.tsv
Due: none

Don't allow out-of-order updates to react tables
  shared_web/static/js/table.jsx
Due: shared, shared_web

Nicehide Golem Alias
  card_aliases.tsv
Due: none

Some more commonly-used aliases
  card_aliases.tsv
Due: none

Tabs not spaces as delimiter in card_aliases.tsv
  card_aliases.tsv
Due: none

Update card_aliases.tsv
  card_aliases.tsv
Due: none

fixfixfix
  magic/tournaments.py
Due: magic

Fix /seasons/ immediately after rotation?
  decksite/views/seasons.py
Due: decksite

Disable a failing test, and do some CD tweaks
  magic/tournaments_test.py
  shared_web/api.py
Due: magic, shared, shared_web

Update seasons.py
  magic/seasons.py
Due: magic

Recognize Torrent Sculptor/Flamethrower Sonata as Torrent Sculptor and similar
  magic/oracle.py
  magic/oracle_test.py
Due: magic

Test for dfcs in decklist
  magic/decklist_test.py
Due: magic

Don't show snow basics in top cards
  decksite/views/home.py
Due: decksite

Remove sw2 note from PDTues now that cardhoarder dispense the prizes
  discordbot/commands/explain.py
Due: discordbot

Stop seasons dropdown showing the future
  decksite/view.py
Due: decksite

Bump mypy and typeshed versions
  .github/workflows/build.yml
  Pipfile
  Pipfile.lock
  dev.py
Due: none

Slash Commands for Swiss and Explain
  Dockerfile
  Pipfile
  discordbot/bot.py
  discordbot/commands/__init__.py
  discordbot/commands/explain.py
  discordbot/commands/swiss.py
  discordbot/help.py
  shared/decorators.py
Due: discordbot, shared

Linting
  discordbot/commands/explain.py
  discordbot/help.py
Due: discordbot

Typing
  Pipfile.lock
  modo_bugs/repo.py
  modo_bugs/scrape_bugblog.py
  modo_bugs/update.py
  modo_bugs/verification.py
Due: none

Fix tests
  Pipfile.lock
  discordbot/functional_test.py
Due: discordbot

Alias for jac
  card_aliases.tsv
Due: none

Use https for pdm links to avoid dupes in resources command
  decksite/resources.json
Due: decksite

Update less than 60 card deck rules
  decksite/templates/tournaments.mustache
Due: decksite

Add new DFCs to rotation TODO list
  decksite/templates/rotationchecklist.mustache
Due: decksite

Whitelist deck name
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Always show two legality symbols during rotation week for all cards
  discordbot/emoji.py
Due: discordbot

Don't allow creation of archetype with no name
  decksite/controllers/admin.py
Due: decksite

Strip curly braces around pd, too
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
