Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Update mysql_password to mysql_passwd
  README.md
Due: none

Fix merge settings
  .gitignore
  .mergify.yml
Due: none

Update isort from 4.3.21 to 5.2.2
  requirements.txt
Due: none

Update pygithub from 1.51 to 1.52
  requirements.txt
Due: none

Pin python-dotenv to latest version 0.14.0
  requirements.txt
Due: none

For that windows compat
  dev.py
  run.py
Due: none

Get check-reqs working, and add missing
  dev.py
  requirements.txt
Due: none

Fix db container
  docker_dev/mysql/Dockerfile
  docker_dev/mysql/dev-db.sh
  run.py
Due: none

Clean up env stuff a bit
  .env.example
  docker-compose.yml
Due: none

Fix FNM countdown to say that it's sponsored by Cardhoarder and not flac0
  magic/tournaments.py
Due: magic

Fix "cardhoard loan program" to "cardhoarder loan program" on resources
  decksite/resources.json
Due: decksite

oops
  docker-compose.yml
Due: none

Also redis, because we should probably use it
  docker-compose.yml
Due: none

Fix "you have less than 60 cards" being displayed when issue is deck formatting
  magic/legality.py
Due: magic

Fix ambiguity in '!explain onegame' bot command.
  discordbot/commands/explain.py
Due: discordbot

Change wording of error message.
  magic/legality.py
Due: magic

Mergify: configuration update
  .mergify.yml
Due: none

Pin aiohttp to latest version 3.6.2
  requirements.txt
Due: none

Pin pip-check-reqs to latest version 2.1.1
  requirements.txt
Due: none

Pin lxml to latest version 4.5.2
  requirements.txt
Due: none

Update isort from 4.3.21 to 5.3.2
  requirements.txt
Due: none

We really shouldn't be doing assertions in here
  dev.py
  magic/legality.py
  run.py
Due: magic

This isn't a nop
  magic/legality.py
Due: magic

Cardhoarder feed no longer has mtgjson uuid.
  price_grabber/parser.py
Due: price_grabber

Add bot command explain netdecking
  discordbot/commands/explain.py
Due: discordbot

Add Frank Karsten manabase article to resources.
  decksite/resources.json
Due: decksite

'language' option for `!explain`
  discordbot/commands/explain.py
Due: discordbot

More card aliases
  card_aliases.tsv
Due: none

Clearer instructions for people banned from the league
  decksite/league.py
Due: decksite

Don't count one league deck per league match, just once per deck
  decksite/data/season.py
Due: decksite

*shakes fist*
  decksite/league.py
Due: decksite
