Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Reduce number of scraped Gatherling events from 50 to 5.
  decksite/scrapers/gatherling.py
Due: decksite

Update inflect from 4.1.0 to 5.0.2
  requirements.txt
Due: none

Update mypy from 0.782 to 0.790
  requirements.txt
Due: none

Limit /api/competitions/ to returning the 50 most recent competitions
  decksite/controllers/api.py
  decksite/data/competition.py
Due: decksite

Speed up /admin/matches
  decksite/controllers/admin.py
  decksite/controllers/api.py
  decksite/data/match.py
  decksite/data/query.py
  decksite/prepare.py
  decksite/templates/editmatches.mustache
  decksite/templates/livematchtable.mustache
  decksite/view.py
  decksite/views/edit_matches.py
  decksite/webpack.config.js
  shared_web/static/js/cardtable.jsx
  shared_web/static/js/decktable.jsx
  shared_web/static/js/headtoheadtable.jsx
  shared_web/static/js/leaderboardtable.jsx
  shared_web/static/js/matchtable.jsx
  shared_web/static/js/persontable.jsx
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Fix imports.
  decksite/controllers/api.py
Due: decksite

Types.
  decksite/controllers/api.py
  decksite/data/match.py
  decksite/data/matchup.py
  decksite/league.py
  decksite/prepare.py
Due: decksite

Lint.
  decksite/controllers/api.py
  decksite/data/match.py
  decksite/prepare.py
  decksite/view.py
  decksite/views/edit_matches.py
Due: decksite

js lint.
  shared_web/static/js/matchtable.jsx
Due: shared, shared_web

Get rid of some errant tabs.
  .eslintrc.js
  decksite/templates/admin.mustache
  decksite/templates/buttons.mustache
  shared_web/static/images/language_icon.svg
Due: decksite, shared, shared_web

Don't hide active league runs on /admin/matches.
  decksite/views/edit_matches.py
Due: decksite

Use h2 on achievements not bold.
  decksite/templates/personachievements.mustache
Due: decksite

Rephrase a no-longer-true sentence on the about page
  decksite/templates/about.mustache
Due: decksite

Use less precise wording when the next rotation is a guess.
  magic/fetcher.py
  magic/rotation.py
Due: magic

Updates
  .github/workflows/mypy.yml
  .pylintrc
Due: none

Revert
  magic/fetcher.py
Due: magic

Try to fix Travis
  .travis.yml
Due: none

Or this?
  .travis.yml
  dev.py
Due: none

Linting
  decksite/charts/chart.py
  magic/fetcher.py
Due: decksite, magic

Lock click
  requirements.txt
Due: none

Revert aiohttp and requests to supported versions for now
  .github/workflows/mypy.yml
  requirements.txt
Due: none

Finally switch us over to pipenv
  .github/workflows/codeql-analysis.yml
  .github/workflows/mypy.yml
  .travis.yml
  Pipfile
  Pipfile.lock
  dev.py
  github_tools/webhooks.py
  package-lock.json
  shared/fetch_tools.py
Due: shared

Remove unused code
  github_tools/__init__.py
  github_tools/webhooks.py
  requirements.txt
Due: none

Fix the TappedOut scraper, I guess?
  decksite/scrapers/tappedout.py
  requirements.txt
  shared/fetch_tools.py
Due: decksite, shared

Update bot bootstrap process
  bootstrap.sh
Due: none

Update README
  .mergify.yml
  README.md
  dev.py
Due: none

Get off travis, because it's really unreliable these days
  .github/workflows/build.yml
  .github/workflows/mypy.yml
Due: none

Thanks Autocomplete
  .github/workflows/build.yml
  shared/fetch_tools.py
Due: shared

Fix jslint not having npm
  .github/workflows/build.yml
Due: none

Force mysql client to use TCP
  .github/workflows/build.yml
Due: none

Update the mergify config
  .mergify.yml
Due: none
