Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

more improvements
  discordbot/commands/drc.py
  magic/fetcher.py
Due: discordbot, magic

made matchups work without ! mark
  discordbot/commands/drc.py
Due: discordbot

Sort Imports
  discordbot/commands/drc.py
  magic/fetcher.py
Due: discordbot, magic

Denormalize season_id onto deck_cache
  analysis/analysis.py
  decksite/data/achievements.py
  decksite/data/archetype.py
  decksite/data/card.py
  decksite/data/competition.py
  decksite/data/deck.py
  decksite/data/match.py
  decksite/data/matchup.py
  decksite/data/person.py
  decksite/data/query.py
  decksite/data/season.py
  decksite/sql/60.sql
Due: decksite

Do a lighter load of archetypes for typeahead as it only needs the name not the decks
  maintenance/typeahead.py
Due: none

Remove outdated comment
  decksite/data/archetype.py
Due: decksite

New metagame page that uses a variable width bar chart to show the meta
  decksite/__init__.py
  decksite/controllers/metagame.py
  decksite/templates/metagame.mustache
  decksite/views/__init__.py
  decksite/views/metagame.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Preaggregate stats for archetypes *without* child archetypes
  decksite/data/archetype.py
Due: decksite

Fix imports
  decksite/controllers/api.py
  decksite/controllers/metagame.py
  decksite/controllers/resources.py
  decksite/data/playability.py
  decksite/data/season.py
  maintenance/reprime_cache.py
Due: decksite

Fix typo
  decksite/data/card.py
Due: decksite

Preaggregate a whole bunch of stats about card playability
  decksite/controllers/api.py
  decksite/controllers/metagame.py
  decksite/controllers/resources.py
  decksite/data/card.py
  decksite/data/playability.py
  maintenance/reprime_cache.py
Due: decksite

Disambiguate wins, losse, drawss now that we join deck_cache to get season_id
  decksite/data/archetype.py
  decksite/data/card.py
  decksite/data/person.py
Due: decksite

More wins/losses/draws disambiguation
  decksite/data/card.py
Due: decksite

Avoid a sqlalchemy warning
  logsite/views/people.py
Due: none

Make bar height log2 for legibility
  decksite/templates/metagame.mustache
  decksite/views/metagame.py
Due: decksite

Get log values correctly (add one)
  decksite/views/metagame.py
Due: decksite

List of archetype sorters and their activity
  decksite/controllers/admin.py
  decksite/data/person.py
  decksite/templates/sorters.mustache
  decksite/views/__init__.py
  decksite/views/sorters.py
Due: decksite

Fix types
  decksite/data/person.py
Due: decksite

Fix imports
  decksite/views/sorters.py
Due: decksite

small fix to the dreadrise fetcher
  magic/fetcher.py
Due: magic

Fix merge issue
  decksite/data/season.py
Due: decksite

Fix sorting on /people/
  decksite/data/query.py
Due: decksite

Remove debug print
  decksite/data/season.py
Due: decksite

Some better names and some tests for season loading
  decksite/data/deck.py
  decksite/data/season.py
  decksite/data/season_test.py
Due: decksite

Fix hangover from denormalizing season_id
  decksite/data/season.py
Due: decksite

Debug print statement for github only test failure
  decksite/data/season.py
Due: decksite

Fix get_season_id tests
  decksite/data/season_test.py
Due: decksite

Sort by num matches after win percent on /metagame
  decksite/views/metagame.py
Due: decksite

Remove no longer needed debug print statement
  decksite/data/season.py
Due: decksite

Add seasons to AFR to db if missing
  decksite/sql/61.sql
Due: decksite

Reduce unit test runtime to <15s by marking functional tests
  decksite/scrapers/gatherling_test.py
  decksite/smoke_test.py
  discordbot/functional_test.py
  find/find_test.py
  magic/multiverse_test.py
  magic/whoosh_search_test.py
Due: decksite, discordbot, magic

Switch to using pystache fork
  Pipfile
Due: none

Update Pipfile.lock
  Pipfile.lock
Due: none

Mark some tests that download images as functional
  discordbot/unit_test.py
Due: discordbot

Make archetype links on tournament-only pages link to tournament-only pages
  decksite/view.py
Due: decksite

Don't have /metagame go all funky at narrow widths, instead scroll
  shared_web/static/css/pd.css
Due: shared, shared_web

Make key_cards sort table
  decksite/data/playability.py
Due: decksite

Prevent a bunch of js build warnings
  package.json
Due: none

npm audit fix to update packages
  package-lock.json
Due: none

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
