Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Explain how to run tests in the README
  README.md
Due: none

Add class layout for new class cards
  magic/multiverse.py
Due: magic

Contact Us page
  decksite/__init__.py
  decksite/controllers/about.py
  decksite/templates/contactus.mustache
  decksite/views/__init__.py
  decksite/views/contact_us.py
Due: decksite

fix: upgrade @babel/preset-env from 7.14.5 to 7.14.7
  package-lock.json
  package.json
Due: none

Move null check earlier in function, and make it non-breaking
  Pipfile
  magic/rotation.py
Due: magic

Clarify bug rules
  decksite/templates/bugpolicy.mustache
Due: decksite

Pretty darn hacky implementation of is:spikey for find
  find/find_test.py
  find/search.py
Due: none

Fix a bug with Loading showing too much on search tables
  shared_web/static/js/table.jsx
Due: shared, shared_web

Fix textual desription of PD 500 date
  decksite/views/pd500.py
Due: decksite

Fix URLs in head-to-head section on seasonized pages
  decksite/controllers/api.py
Due: decksite

Unbreak head to head
  decksite/controllers/api.py
Due: decksite

Typing improvements in prep for Flask 2.0.2
  .yourbase.yml
  decksite/__init__.py
  decksite/auth.py
  decksite/controllers/admin.py
  decksite/controllers/api.py
  decksite/controllers/metagame.py
  decksite/data/matchup.py
  decksite/database.py
  decksite/main.py
  decksite/view.py
  decksite/views/matchups.py
  discordbot/commands/update.py
  run.py
  shared_web/flask_app.py
Due: decksite, discordbot, shared, shared_web

Add next two season codes, and update release date of IMH
  magic/seasons.py
Due: magic

Add /api/seasoncodes, and port /api/rotation to restx
  decksite/controllers/api.py
Due: decksite

Account for season_str being emptystring
  decksite/controllers/metagame.py
Due: decksite

Make our search more like scryfall's
  decksite/deck_name.py
  find/find_test.py
  find/search.py
  magic/colors.py
Due: decksite, magic

Support 'loy' as shorthand for 'loyalty' in search
  find/find_test.py
  find/search.py
  find/tokens.py
Due: none

Tests for is:split and is:meld
  find/find_test.py
Due: none

More scryfall tests
  find/find_test.py
Due: none

Support is:spell, is:permanent and is:vanilla in card search
  find/find_test.py
  find/search.py
  magic/mana_test.py
Due: magic

Midnight Hunt setcode
  magic/seasons.py
Due: magic

More tests and tweaks for card search
  find/find_test.py
  find/search.py
  magic/colors.py
Due: magic

I think this is all I need to do to completely denormalize "PD" legality
  magic/multiverse.py
  magic/oracle.py
Due: magic

added dreadrise-based search
  discordbot/command.py
  discordbot/commands/drc.py
  shared/configuration.py
Due: discordbot, shared

fixed flake8
  discordbot/commands/drc.py
Due: discordbot

Add a word to profanity filter
  decksite/deck_name.py
Due: decksite

post_nothing (bakert)
  discordbot/command.py
  discordbot/commands/drc.py
Due: discordbot

Sort Imports
  discordbot/commands/drc.py
Due: discordbot

Fix color search on dfcs
  magic/multiverse.py
Due: magic

Handle +2 Mace in URL
  decksite/controllers/metagame.py
Due: decksite

Extra test for color search
  find/find_test.py
Due: none

Update package-lock.json to latest
  package-lock.json
Due: none

Avoid name collision
  find/find_test.py
Due: none

Typing and lint
  decksite/controllers/metagame.py
  magic/multiverse.py
Due: decksite, magic

Exclude generated migrations from typechecking
  dev.py
Due: none

Alias for BBE
  card_aliases.tsv
Due: none

burningofxinye command
  discordbot/commands/burningofxinye.py
Due: discordbot

hopefully fixed #9060 and #9027
  discordbot/commands/drc.py
Due: discordbot

less obscure types, migrated to fetcher
  discordbot/commands/drc.py
  magic/fetcher.py
Due: discordbot, magic

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
