Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

more of the spike
  decksite/sql/60.sql
  logsite/analyze_games.py
  maintenance/analyze_games.py
  run.py
Due: decksite

Fix visual snafu in Source button.
  decksite/templates/buttons.mustache
Due: decksite

Fixed size deck name in live data tables.
  shared_web/static/css/pd.css
Due: shared, shared_web

Bring trailblazer cards in line with unique cards played (1 match not 3).
  decksite/data/card.py
Due: decksite

Fix up select styling.
  shared_web/static/css/pd.css
Due: shared, shared_web

Update bug rules.
  decksite/templates/bugpolicy.mustache
Due: decksite

Sort by num competitions descending first.
  decksite/templates/competitions.mustache
Due: decksite

Link unique and first played cards on player page.
  decksite/templates/person.mustache
  decksite/views/person.py
Due: decksite

Put All Time at the top of the season list on /matchups/.
  decksite/views/matchups.py
Due: decksite

Show more doubled and mistagged decks on /admin/rules
  decksite/views/edit_rules.py
Due: decksite

Allow appropriate left-margin on language selector
  shared_web/static/css/pd.css
Due: shared, shared_web

Update mypy from 0.782 to 0.790
  requirements.txt
Due: none

Update markdown from 3.3.1 to 3.3.2
  requirements.txt
Due: none

Order decks in /admin/matches dropdown correctly.
  decksite/views/edit_matches.py
Due: decksite

Give sufficient widths to # Decks column on /cards/.
  shared_web/static/css/pd.css
Due: shared, shared_web

Webpack 4 removes --prod in favour of --mode=production
  package-lock.json
  package.json
Due: none

Update aiohttp from 3.6.3 to 3.7.1
  requirements.txt
Due: none

Update pillow from 8.0.0 to 8.0.1
  requirements.txt
Due: none

Actually use the intents we constructed
  discordbot/bot.py
Due: discordbot

Revert "Actually use the intents we constructed"
  discordbot/bot.py
Due: discordbot

Create mypy.yml
  .github/workflows/mypy.yml
Due: none

Replace deprecated webpack options with supported alternatives.
  decksite/webpack.config.js
  package-lock.json
  package.json
Due: decksite

Add Kaldheim code to list
  magic/rotation.py
Due: magic

Don't try to guess archetypes - it is implicated in perf issues on the site
  maintenance/guess_league_archetypes.py
Due: none

Remove matchups grid from archetypes and person detail - it is too expensive
  decksite/controllers/metagame.py
  decksite/controllers/people.py
  decksite/templates/archetypes.mustache
  decksite/templates/matchupgrid.mustache
  decksite/templates/person.mustache
  decksite/view.py
  decksite/views/archetypes.py
  decksite/views/person.py
  maintenance/guess_league_archetypes.py
Due: decksite

Don't incorrectly return all cards when asked to load no cards
  magic/oracle.py
Due: magic

Allow turning off of cards db updates
  magic/multiverse.py
Due: magic

Provide a summary of matchup just calculated.
  decksite/templates/matchups.mustache
  decksite/views/matchups.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Don't reprime deck cache in reprime_cache
  maintenance/reprime_cache.py
Due: none

Typing.
  decksite/views/matchups.py
Due: decksite

Imports.
  maintenance/reprime_cache.py
Due: none

Set a default for prevent_cards_db_updates
  shared/configuration.py
Due: shared

Don't lie and say MySQL is ok - we require mariadb these days.
  README.md
Due: none
