Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Update pylint from 2.5.0 to 2.5.2
  requirements.txt
Due: none

Account for breaking change in the Pylint API
  dev.py
Due: none

Update pygithub from 1.50 to 1.51
  requirements.txt
Due: none

Get modo-bugs script working again
  run.py
Due: none

Use gh if it's available
  dev.py
Due: none

run.py can call modo_bugs
  pylint_monolith/monolith_checker.py
Due: none

fix signup deadlock
  decksite/data/deck.py
Due: decksite

linter doesn't like double quotes
  decksite/data/deck.py
Due: decksite

Update markdown from 3.2.1 to 3.2.2
  requirements.txt
Due: none

Update pytest from 5.4.1 to 5.4.2
  requirements.txt
Due: none

Update redis from 3.5.0 to 3.5.1
  requirements.txt
Due: none

Github action to run isort against master?
  .github/workflows/isort.yml
Due: none

Make jslint work on windows
  .eslintrc.js
  dev.py
Due: none

Fix pickle error while linting by forcing us back to single thread
  .pylintrc
  dev.py
  shared/configuration.py
Due: shared

Thinking about documentation
  .gitignore
  decksite/database.py
  dev.py
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/make.bat
  docs/source/analysis.rst
  docs/source/decksite.charts.rst
  docs/source/decksite.controllers.rst
  docs/source/decksite.data.models.rst
  docs/source/decksite.data.rst
  docs/source/decksite.rst
  docs/source/decksite.scrapers.rst
  docs/source/decksite.views.rst
  docs/source/dev.rst
  docs/source/dev_test.rst
  docs/source/discordbot.commands.rst
  docs/source/discordbot.rst
  docs/source/discordsite.rst
  docs/source/generate_readme.rst
  docs/source/github_tools.rst
  docs/source/logsite.data.rst
  docs/source/logsite.rst
  docs/source/logsite.tests.rst
  docs/source/logsite.views.rst
  docs/source/magic.abc.rst
  docs/source/magic.models.rst
  docs/source/magic.rst
  docs/source/maintenance.rst
  docs/source/modo_bugs.rst
  docs/source/modules.rst
  docs/source/price_grabber.rst
  docs/source/pylint_monolith.rst
  docs/source/rotation_script.rst
  docs/source/run.rst
  docs/source/setup.rst
  docs/source/shared.rst
  docs/source/shared_web.rst
  docs/source/shared_web.views.rst
Due: decksite

Disable travis isort check
  .travis.yml
Due: none

Ignore Sphinx conf.py while linting
  dev.py
Due: none

Allow extra blank lines in deck lists.
  magic/decklist.py
  magic/decklist_test.py
Due: magic

Update google-api-python-client from 1.8.2 to 1.8.3
  requirements.txt
Due: none

Update sqlalchemy from 1.3.16 to 1.3.17
  requirements.txt
Due: none

Update flask-session from 0.3.1 to 0.3.2
  requirements.txt
Due: none

Update redis from 3.5.1 to 3.5.2
  requirements.txt
Due: none

/api/tournaments for PDBot to use
  decksite/controllers/api.py
Due: decksite

Fix typo
  magic/tournaments.py
Due: magic

display matches for the current deck on the retire page
  decksite/templates/deck.mustache
  decksite/templates/deckmatches.mustache
  decksite/templates/retire.mustache
  decksite/views/retire.py
Due: decksite

Very minor imrpovements/HTML fixes to /retire/.
  decksite/templates/retire.mustache
  decksite/views/retire.py
Due: decksite

Sort elimination rounds (QF, SF, F) in round rather than lexical order.
  decksite/templates/deckmatches.mustache
Due: decksite

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
