Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Anyone can !reboot the bot
  discordbot/commands/restartbot.py
Due: discordbot

removed debugging data
  decksite/data/deck.py
Due: decksite

added deck scraper API
  decksite/controllers/api.py
  decksite/data/deck.py
  decksite/data/query.py
Due: decksite

more improvements
  decksite/controllers/api.py
Due: decksite

added the timestamps, turned the endpoint into a Resource, added season num
  decksite/controllers/api.py
  decksite/data/deck.py
Due: decksite

linting
  decksite/controllers/api.py
Due: decksite

more improvements probably
  decksite/controllers/api.py
  decksite/data/deck.py
  decksite/data/query.py
Due: decksite

Fix a lint error I left accidentally let into master
  discordbot/commands/restartbot.py
Due: discordbot

I'm still waking up
  discordbot/commands/restartbot.py
Due: discordbot

always count distinct decks
  decksite/controllers/api.py
  decksite/data/deck.py
Due: decksite

Fix Lint error
  discordbot/commands/restartbot.py
Due: discordbot

Bump dis_snek commit
  Pipfile.lock
Due: none

dis_snek has bumped the minimum version of python to 3.10, so up we go.
  .github/workflows/build.yml
  .github/workflows/repip.yml
  Pipfile
  Pipfile.lock
  dev.py
Due: none

Most of the debug scale was integrated directly into dis_snek, we don't need our own copy now
  discordbot/bot.py
  discordbot/commands/debug.py
Due: discordbot

I hate Yaml
  .github/workflows/build.yml
  .github/workflows/isort.yml
  discordbot/bot.py
Due: discordbot

Only use the debugger if we need it, as it now has overhead
  discordbot/bot.py
  discordbot/commands/debug.py
  shared/configuration.py
Due: discordbot, shared

Better
  dev.py
  discordbot/commands/debug.py
  discordbot/commands/version.py
Due: discordbot

Ensure slash commands are added when we enable the debugger
  discordbot/commands/debug.py
Due: discordbot

Ignore Bots
  discordbot/bot.py
Due: discordbot

Better abort if Bulk Cards is bad
  magic/fetcher.py
Due: magic

Fix CI
  .github/workflows/repip.yml
Due: none

More Improvements
  discordbot/bot.py
  magic/fetcher.py
  magic/multiverse.py
  shared/configuration.py
Due: discordbot, magic, shared

Linting
  discordbot/bot.py
Due: discordbot

Sort Imports
  discordbot/bot.py
Due: discordbot

Use a Context for [Cardnames]
  discordbot/bot.py
  discordbot/command.py
Due: discordbot

Try to fix repip job
  .github/workflows/repip.yml
  decksite/data/archetype.py
  discordbot/bot.py
Due: decksite, discordbot

Fix buginfo parameters
  discordbot/commands/buginfo.py
Due: discordbot

Better exception messages
  Pipfile
  Pipfile.lock
  discordbot/bot.py
  run.py
  shared/repo.py
Due: discordbot, shared

Account for decks that don't have a Top N
  discordbot/commands/randomdeck.py
Due: discordbot

More cleanup of the README
  README.md
  generate_readme.py
Due: none

Python 3.10 upgrade in dev instructions
  README.md
Due: none

Get dev setup instructions up to speed with reality
  README.md
Due: none

Use the right name to get an int not a str in num_players (swiss command)
  discordbot/commands/swiss.py
Due: discordbot

Fix whois by calling trigger_typing on the right thing
  discordbot/commands/p1p1.py
  discordbot/commands/whois.py
Due: discordbot

Remove bang version of bug command as it does not work right
  discordbot/commands/bug.py
Due: discordbot

Sort Imports
  decksite/controllers/api.py
Due: decksite

Remove redundant line from README
  README.md
Due: none

Update Frank Karsten manabase url
  decksite/resources.json
Due: decksite

Slash Commands for whois
  discordbot/command.py
  discordbot/commands/whois.py
Due: discordbot

Hotfix for records issue
  decksite/data/deck.py
Due: decksite

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
