Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Allow `cid` and `id` for color identity searches
  find/find_test.py
  find/search.py
  find/tokens.py
Due: none

Support commander keyword in card search
  find/find_test.py
  find/search.py
  find/tokens.py
Due: none

Better types
  decksite/controllers/admin.py
Due: decksite

Add support for is:commander in card search
  find/find_test.py
  find/search.py
Due: none

Simplify math_where so that cmc=0 works
  find/find_test.py
  find/search.py
  find/tokens.py
Due: none

Teach magic.tournaments about prizes for kick off and pd 500
  decksite/templates/kickoff.mustache
  decksite/templates/pd500.mustache
  decksite/views/kickoff.py
  decksite/views/pd500.py
  decksite/views/prizes.py
  decksite/views/tournaments.py
  find/find_test.py
  find/search.py
  magic/tournaments.py
  magic/tournaments_test.py
Due: decksite, magic

Support fo/fulloracle in search
  find/find_test.py
  find/search.py
  find/tokens.py
Due: none

Allow all searches like is:fetchland to omit the 'land' part
  find/search.py
Due: none

Show 'Loading...' instead of 0-NaN in react tables
  shared_web/static/js/table.jsx
Due: shared, shared_web

Whitelist deck name
  decksite/deck_name.py
Due: decksite

Don't error out for mismatching parens in card search
  find/search.py
Due: none

Correct case for master
  dev.py
Due: none

Sort by mtgo username on /admin/unlink
  decksite/controllers/admin.py
Due: decksite

Be better at removing 'pd' from deck names in the middle of names
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Force link styling in pd500 and kickoff pages
  decksite/templates/kickoff.mustache
  decksite/templates/pd500.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Better display of prizes for all tournaments
  magic/tournaments.py
  magic/tournaments_test.py
Due: magic

Command for Frank Karsten's colored sources chart
  discordbot/commands/img/mana-frank.png
  discordbot/commands/mana.py
Due: discordbot

Avoid sort-of-shadowed var name
  magic/tournaments.py
Due: magic

Typing
  magic/tournaments.py
  magic/tournaments_test.py
Due: magic

Move Competition into magic.models to avoid circular import
  decksite/data/archetype.py
  decksite/data/competition.py
  decksite/view.py
  decksite/views/competition.py
  decksite/views/competitions.py
  decksite/views/pd500.py
  decksite/views/prizes.py
  magic/models/__init__.py
  magic/models/competition.py
  magic/tournaments.py
  magic/tournaments_test.py
Due: decksite, magic

Fix Flesh // Blood issue
  decksite/data/match.py
  magic/card.py
Due: decksite, magic

Decks and matches per day on /seasons/
  decksite/templates/seasons.mustache
  decksite/views/seasons.py
Due: decksite

Don't delete cards db if we can't fetch needed data from scryfall
  magic/multiverse.py
Due: magic

Types
  magic/models/competition.py
Due: magic

Trigger Profile updates for users set to do not disturb
  discordbot/bot.py
Due: discordbot

Add an Explain for wrongdeck
  discordbot/commands/explain.py
Due: discordbot

Alias for Mtenda Lion.
  card_aliases.tsv
Due: none

Use tab not space for tab-delimited file
  card_aliases.tsv
Due: none

Don't misreport clean cuts in Swiss command
  discordbot/commands/swiss.py
Due: discordbot

Typing
  decksite/views/person.py
Due: decksite

Lint
  decksite/views/person.py
  magic/fetcher.py
Due: decksite, magic

Square off seasons active grid
  decksite/views/person.py
Due: decksite

More granular, locale-aware ko and pd500 start times
  decksite/templates/kickoff.mustache
  decksite/templates/pd500.mustache
  decksite/views/kickoff.py
  decksite/views/pd500.py
Due: decksite

Hack in latest whatsinstandard as it is never updated
  magic/fetcher.py
Due: magic

Correct stars and top 8 symbols for Kick Off and PD 500
  decksite/prepare.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Updated PLG20 set code
  discordbot/functional_test.py
Due: discordbot

Revert e6a3dfd859215c33c3ebbe3e46a828056c559222, and do it correctly
  magic/fetcher.py
  magic/seasons.py
Due: magic

Better recursive update function
  magic/seasons.py
  shared/recursive_update.py
Due: magic, shared

Remove overrides now whatsinstandard mostly works
  magic/seasons.py
Due: magic

Don't reverse seasons that puts them in the wrong order
  decksite/views/person.py
Due: decksite
