Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Linting
  decksite/scrapers/gatherling_test.py
  discordbot/commands/configure.py
  find/search.py
  logsite/views/match_view.py
  magic/mana_test.py
  shared/configuration.py
  shared/decorators.py
  shared_web/flask_app.py
Due: decksite, discordbot, magic, shared, shared_web

Replace empty mono colored decknames with color+archetype
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Allow decklists with no numbers
  magic/decklist.py
  magic/decklist_test.py
Due: magic

Missing fstring
  discordbot/bot.py
Due: discordbot

Linter for print statements.
  Pipfile
  Pipfile.lock
Due: none

Linting
  .flake8
  Pipfile
  decksite/__init__.py
  decksite/data/elo.py
  dev.py
  discordbot/command.py
  modo_bugs/fetcher.py
  modo_bugs/main.py
  modo_bugs/scrape_announcements.py
  modo_bugs/scrape_bugblog.py
  run.py
  shared/decorators.py
  shared/fetch_tools.py
  shared/perf.py
Due: decksite, discordbot, shared

Support Reverisble Cards
  conftest.py
  magic/multiverse.py
Due: magic

More linting
  .flake8
  discordbot/commands/__init__.py
  discordbot/commands/configure.py
  discordbot/commands/p1p1.py
  discordbot/commands/randomdeck.py
  shared_web/flask_app.py
Due: discordbot, shared, shared_web

4x the load of /rotation/ with memoization
  magic/seasons.py
Due: magic

Revert "4x the load of /rotation/ with memoization"
  magic/seasons.py
Due: magic

Implement rotation_ex caching in a rollover-friendly way
  magic/seasons.py
  modo_bugs/repo.py
  shared/decorators.py
Due: magic, shared

Typing
  magic/seasons.py
Due: magic

More typing
  magic/seasons.py
Due: magic

Revert "Sort Imports"
  magic/seasons.py
Due: magic

Revert "More typing"
  magic/seasons.py
Due: magic

Revert "Typing"
  magic/seasons.py
Due: magic

Revert "Implement rotation_ex caching in a rollover-friendly way"
  magic/seasons.py
  modo_bugs/repo.py
  shared/decorators.py
Due: magic, shared

Revert "Revert "4x the load of /rotation/ with memoization""
  magic/seasons.py
Due: magic

Revert "Revert all rotation_ex caching to try and fix rotation/prices bug"
  magic/seasons.py
  modo_bugs/repo.py
  shared/decorators.py
Due: magic, shared

Disable google command to workaround prod issue
  discordbot/commands/google.py
Due: discordbot

Support legal as well as format in search
  find/find_test.py
  find/search.py
  find/tokens.py
Due: none

Don't log db details to github when backup fails
  maintenance/dev_db.py
Due: none

Create triage.yml
  .github/workflows/triage.yml
Due: none

Move mypy settings to mypy.ini
  dev.py
  mypy.ini
Due: none

Guesses at a good banner for S23
  decksite/main.py
Due: decksite

Better R card for banner
  decksite/main.py
Due: decksite

Better artifact for banner
  decksite/main.py
Due: decksite

Better W card for banner
  decksite/main.py
Due: decksite

Fix bug skipping per-match Elo adjustment
  decksite/data/match.py
Due: decksite

Begin the porting process
  Pipfile
  Pipfile.lock
  build.py
  decksite/charts/chart.py
  discordbot/bot.py
  discordbot/command.py
  discordbot/commands/__init__.py
  discordbot/commands/art.py
  discordbot/commands/barbs.py
  discordbot/commands/bug.py
  discordbot/commands/debug.py
  discordbot/commands/swiss.py
  discordbot/commands/whois.py
  discordbot/emoji.py
  discordbot/help.py
  discordbot/shared.py
  shared/repo.py
Due: decksite, discordbot, shared

Remove Penny Dreadful Tuesdays
  magic/tournaments.py
Due: magic

Missed one
  magic/tournaments.py
Due: magic

Autocomplete is cool
  discordbot/bot.py
  discordbot/command.py
  discordbot/commands/__init__.py
  discordbot/commands/art.py
  discordbot/commands/bug.py
  discordbot/commands/buginfo.py
  discordbot/commands/buglink.py
  discordbot/commands/burningofxinye.py
  discordbot/commands/clearimagecache.py
  discordbot/commands/configure.py
  discordbot/commands/debug.py
  discordbot/commands/downtimes.py
  discordbot/commands/echo.py
  discordbot/commands/explain.py
  discordbot/commands/tournament.py
  discordbot/commands/update.py
  discordbot/commands/version.py
  discordbot/commands/whois.py
  shared/configuration.py
Due: discordbot, shared

3.9
  .github/workflows/build.yml
  .github/workflows/isort.yml
Due: none

I think this is in a working state?
  .flake8
  Pipfile
  Pipfile.lock
  discordbot/bot.py
  discordbot/command.py
  discordbot/commands/__init__.py
  discordbot/commands/art.py
  discordbot/commands/debug.py
  discordbot/commands/drc.py
  discordbot/commands/explain.py
  discordbot/commands/google.py
  discordbot/commands/price.py
  discordbot/commands/quality.py
  discordbot/commands/randomcard.py
  discordbot/commands/randomdeck.py
  discordbot/commands/resources.py
  discordbot/commands/rhinos.py
  discordbot/commands/rotate.py
  discordbot/commands/rotation.py
  discordbot/commands/rulings.py
  discordbot/commands/search.py
  discordbot/functional_test.py
  discordbot/shared.py
  magic/fetcher.py
  magic/seasons.py
  shared/configuration.py
Due: discordbot, magic, shared

Protocols are cool
  discordbot/command.py
  discordbot/commands/debug.py
  discordbot/commands/drc.py
  discordbot/shared.py
Due: discordbot

added deck scraper API
  decksite/controllers/api.py
  decksite/data/deck.py
  decksite/data/query.py
Due: decksite

removed debugging data
  decksite/data/deck.py
Due: decksite

Linting
  .flake8
  .github/workflows/build.yml
  .pylintrc
  decksite/main.py
  dev.py
  discordbot/bot.py
  discordbot/command.py
  discordbot/commands/__init__.py
  discordbot/commands/art.py
  discordbot/commands/buginfo.py
  discordbot/commands/burningofxinye.py
  discordbot/commands/clearimagecache.py
  discordbot/commands/configure.py
  discordbot/commands/debug.py
  discordbot/commands/drc.py
  discordbot/commands/modofail.py
  discordbot/commands/search.py
  discordbot/commands/status.py
  discordbot/commands/update.py
  discordbot/emoji.py
  discordbot/shared.py
  modo_bugs/main.py
  shared/configuration.py
  shared/settings.py
Due: decksite, discordbot, shared

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
