Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

More info on pd500 page so it's a bit more of a landing page.
  decksite/templates/pd500.mustache
  decksite/views/pd500.py
Due: decksite

Remove two rules temporarily - see #7780
  .pylintrc
Due: none

Lint.
  decksite/templates/pd500.mustache
  decksite/views/pd500.py
Due: decksite

Fix test that uses old URL.
  discordbot/command_test.py
Due: discordbot

Remove character encoding from json.loads - it has been ignored since Python 3.1
  magic/fetcher.py
  shared/fetch_tools.py
Due: magic, shared

Live cards data tables on cards page and person page.
  README.md
  decksite/controllers/api.py
  decksite/data/card.py
  decksite/data/query.py
  decksite/prepare.py
  decksite/templates/cards.mustache
  decksite/templates/cardstable.mustache
  decksite/templates/livecardtable.mustache
  decksite/templates/person.mustache
  decksite/view.py
  decksite/webpack.config.js
  dev_test.py
  shared_web/base_view.py
  shared_web/static/css/pd.css
  shared_web/static/js/cardtable.jsx
  shared_web/static/js/index.jsx
Due: decksite, shared, shared_web

Fix issues found by lint.
  decksite/controllers/api.py
  decksite/data/card.py
  decksite/prepare.py
  decksite/view.py
Due: decksite

JSLint.
  shared_web/static/js/cardtable.jsx
Due: shared, shared_web

Lint.
  decksite/prepare.py
Due: decksite

Typing, better names.
  decksite/data/card.py
  decksite/prepare.py
Due: decksite

Rearrange person page now cards section is smaller.
  decksite/templates/person.mustache
Due: decksite

Sort by win % in card tables correctly.
  decksite/data/query.py
Due: decksite

numDecks should sort descending first.
  shared_web/static/js/cardtable.jsx
Due: shared, shared_web

Change site search to instead be a typeahead on archetypes, cards, people.
  decksite/controllers/api.py
  decksite/templates/header.mustache
  decksite/templates/search.mustache
  maintenance/client_dependencies.py
  maintenance/typeahead.py
  shared/configuration.py
  shared_web/jsdependencies.txt
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
  shared_web/templates/jsdependencies.mustache
Due: decksite, shared, shared_web

Update client dependencies.
  shared_web/templates/jsdependencies.mustache
Due: shared, shared_web

Use dist for typeahead file. I think this is ok?
  maintenance/typeahead.py
  shared/configuration.py
Due: shared

Lint.
  maintenance/typeahead.py
Due: none

Types.
  decksite/controllers/api.py
  maintenance/typeahead.py
  shared_web/api.py
Due: decksite, shared, shared_web

JS Lint.
  shared_web/static/js/pd.js
Due: shared, shared_web

Fix bad merge.
  decksite/controllers/api.py
Due: decksite

Reenable stderr message if you give dev.py an invalid command.
  dev.py
Due: none

Define the var we are about to use.
  dev.py
Due: none

If you type something and you're not in a form, take you to the search bar.
  shared_web/static/js/pd.js
Due: shared, shared_web

Remove incorrect change to font type size.
  shared_web/static/css/pd.css
Due: shared, shared_web

Pin aiohttp to latest version 3.6.2
  requirements.txt
Due: none

Pin pip-check-reqs to latest version 2.1.1
  requirements.txt
Due: none

Update isort from 4.3.21 to 5.5.1
  requirements.txt
Due: none

Pin lxml to latest version 4.5.2
  requirements.txt
Due: none

Pin python-dotenv to latest version 0.14.0
  requirements.txt
Due: none

Update pylint from 2.5.3 to 2.6.0
  requirements.txt
Due: none

Display no results box when no results for typeahead search.
  shared_web/static/js/pd.js
Due: shared, shared_web

Update resources with recent changes.
  decksite/resources.json
Due: decksite

Emphasize format diversity by list all last season's winners on /about/pd/.
  decksite/controllers/about.py
  decksite/templates/about.mustache
  decksite/views/about.py
Due: decksite

Tinkering with PD 500 page.
  decksite/templates/pd500.mustache
  decksite/views/pd500.py
Due: decksite
